<div class="hero_wrapper">
  <%= render "shared/sidebar" %>
  <div class="producer_panel_wrapper">

    <div class="order_head">
      <div class="head_content">
        <%= render 'shared/profile_head' %>
      </div>
    </div>

    <div class="producer_payments">
      <div class="payment_head">Payments</div>
      <div class="payment_body">
        <% @users.each do |user| %>
          <div class="payment_items">
            <div class="td"> <%= link_to user.name, dashboard_path(user) %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
