<div class="hero_wrapper">
  <%= render "shared/sidebar" %>

  <%= render "shared/popups" %>

</div>



<script type="text/javascript">
  function changeRowsPerPage(value) {
    window.location.href = window.location.pathname + "?per_page=" + value;
  }

  // Show the first tab and hide the rest
  $('#tabs-nav li:first-child').addClass('active');
  $('.custom_table').hide();
  $('.custom_table:first').show();

  // Click function
  $('#tabs-nav li').click(function(){
    $('#tabs-nav li').removeClass('active');
    $(this).addClass('active');
    $('.custom_table').hide();
    
    var activeTab = $(this).find('a').attr('href');
    $(activeTab).fadeIn();
    return false;
  });


  // $('.collapse_show').click(function () {
  //   $(this).closest('.tbody_row').find('.collapse_data').slideDown(800);
  // });
  // $('.collapse_hide').click(function () {
  //   $(this).closest('.tbody_row').find('.collapse_data').slideUp(800);
  // });

  // $('.drop_icon_box').click(function() {
  //   $(this).closest('.tbody_row').find('.menu_drop').toggle();
  // });


  var $checkboxes = $('.custom_info_table .order_td input[type="checkbox"]');
  $checkboxes.change(function(){
    var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
    $('#count-checked-checkboxes').text(countCheckedCheckboxes);
  });

  
</script>