<turbo-frame id="payment-amount-popup-modal">
  <div id="enter_payment_model" class="enter_payment_model" data-controller="modals" data-modals-modal-id-value="enter_payment_model">
    <div class="enter_payment_wrapper">
      <div class="enter_payment_pop">
        <%= image_tag "close", alt: "icon", class:"close_icon" %>
        <div class="enter_pop_head">Enter Payment Amount</div>
        <div class="input_group">
          <div class="input_icon">$</div>
          <input type="text" placeholder="0000" class="input_here">
        </div>

        <a href="#" class="submit_btn">Submit</a>
      </div>
    </div>
  </div>
</turbo-frame>