<div class="create_bell_box">
  <%= image_tag("ic_notifications", class: "create_bell_icon") %>

  <div class="create_notification">
    <div class="notification_text">1</div>
  </div>
</div>

<div class="account_icon"></div>

<% if current_user %>
  <%= link_to 'Log Out', logout_path, method: :delete, class: "btn btn-danger" %>
<% end %>
