<div class="container-flouid my-4 ms-4">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="logo">LOGO</div>

      <div class="user-info my-5 bg-light ps-3 py-2 rounded-4">
        <div class="user-name"><%= current_user.name %></div>
        <div class="user-role small"><%= current_user.type %></div>
      </div>

      
      <ul class="sidebar-tabs list-group list-group-flush">
        <li class="sidebar-tabs-item list-group-item border-0">Analytics</li>
        <li class="sidebar-tabs-item list-group-item border-0">Payments</li>
        <li class="sidebar-tabs-item list-group-item border-0">Orders</li>
        <li class="sidebar-tabs-item list-group-item border-0">Dropshippers</li>
        <li class="sidebar-tabs-item list-group-item border-0">Producers</li>
        <li class="sidebar-tabs-item list-group-item border-0">Product Categories</li>
        <li class="sidebar-tabs-item list-group-item border-0">Products</li>
        <li class="sidebar-tabs-item list-group-item border-0">Inventories</li>
        <li class="sidebar-tabs-item list-group-item border-0">Tickets</li>
        <li class="sidebar-tabs-item list-group-item border-0">Coupon Code Manager</li>
        <li class="sidebar-tabs-item list-group-item border-0">Shipping API</li>
        <li class="sidebar-tabs-item list-group-item border-0">Tickets Options Manager</li>
        <li class="sidebar-tabs-item list-group-item border-0">Print Method Manager</li>
      </ul> 
    </div>
