<div class="orders_wrapper">
  <div class="order_head">
    <div class="head_content">
      <div class="create_bell_box">
        <%= image_tag "ic_notifications", alt: 'icon', class: "create_bell_icon" %>
        <div class="create_notification">1</div>
      </div>
      <div class="account_icon"></div>
    </div>
  </div>

  <div class="order_info_wrap">
    <div class="search_wrap">
      <div class="search_box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.31 15.9L20.71 19.29C20.8993 19.4778 21.0058 19.7334 21.0058 20C21.0058 20.2666 20.8993 20.5222 20.71 20.71C20.5222 20.8993 20.2666 21.0058 20 21.0058C19.7334 21.0058 19.4778 20.8993 19.29 20.71L15.9 17.31C14.5025 18.407 12.7767 19.0022 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11C19.0022 12.7767 18.407 14.5025 17.31 15.9ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C14.3137 17 17 14.3137 17 11C17 7.68629 14.3137 5 11 5Z" fill="#919EAB"/>
        </svg>
        <input class="search_input" type="text" placeholder="Search by order number, customer, or product name" />
      </div>
    </div>

    <div class="tabs_box">
      <ul class="order_tabs_wrap" id="tabs-nav">
        <li class="tabs_items"><a href="#tab1">All Orders</a></li>
        <li class="tabs_items"><a href="#tab2"><span class="tabs_notify">8</span> On Hold</a></li>
        <li class="tabs_items"><a href="#tab3">Rejected</a></li>
        <li class="tabs_items"><a href="#tab4">In Production</a></li>
        <li class="tabs_items"><a href="#tab5">Fulfilled</a></li>
      </ul>

      <div id="tabs-content">
        
        <div id="tab2" class="tab-content">
          <div class="orders_details_box">
            <div class="order_details_data">
              <div class="order_table_section">
                <table class="order_info_table">
                  <thead>
                    <tr>
                      <th class="order_th first">&nbsp;</th>
                      <th class="order_th">Order ID</th>
                      <th class="order_th">Total Items</th>
                      <th class="order_th">Total</th>
                      <th class="order_th">Ship to</th>
                      <th class="order_th">Status</th>
                      <th class="order_th">Priority</th>
                      <th class="order_th">Order Received</th>
                      <th class="order_th">More Actions</th>
                      <th class="order_th last">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% 3.times do %>
                      <tr>
                        <td class="order_td td_icon">
                          <input type="checkbox" name="">
                        </td>
                        <td class="order_td">
                          <div class="order_id_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                              <path d="M11.575 16.55C11.4417 16.55 11.3123 16.525 11.187 16.475C11.0617 16.425 10.9577 16.3583 10.875 16.275L6.275 11.675C6.09167 11.4917 6 11.2583 6 10.975C6 10.6917 6.09167 10.4583 6.275 10.275C6.45833 10.0917 6.69167 10 6.975 10C7.25833 10 7.49167 10.0917 7.675 10.275L11.575 14.175L15.475 10.275C15.6583 10.0917 15.8917 10 16.175 10C16.4583 10 16.6917 10.0917 16.875 10.275C17.0583 10.4583 17.15 10.6917 17.15 10.975C17.15 11.2583 17.0583 11.4917 16.875 11.675L12.275 16.275C12.175 16.375 12.0667 16.446 11.95 16.488C11.8333 16.53 11.7083 16.5507 11.575 16.55Z" fill="black"/>
                            </svg>
                            <span class="order_num">1</span>
                          </div>
                        </td>
                        <td class="order_td">4</td>
                        <td class="order_td">$1.00</td>
                        <td class="order_td">First Last Name</td>
                        <td class="order_td">
                          <div class="order_status_icon">
                            <div>
                              NEW
                            </div>
                          </div>
                        </td>
                        <td class="order_td">
                          <div class="order_priority_icon">
                            <div>URGENT</div>
                          </div>
                        </td>
                        <td class="order_td">19 hr ago</td>
                        <td class="order_td">
                          <div class="order_more_action">
                            <div class="more_icon_group">
                              <div class="icon blue">
                                <%= image_tag("fluent_vehicle") %>
                              </div>
                              <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                  <path d="M10 9.5V5.5L3 12.5L10 19.5V15.4C15 15.4 18.5 17 21 20.5C20 15.5 17 10.5 10 9.5Z" fill="#212B36"/>
                                </svg>
                              </div>
                              <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                  <path d="M9.86009 18.4999C9.58292 18.499 9.31856 18.3832 9.13009 18.1799L4.27009 13.0099C3.89177 12.6068 3.91192 11.9733 4.31509 11.5949C4.71826 11.2166 5.35177 11.2368 5.73009 11.6399L9.85009 16.0299L18.2601 6.82994C18.4926 6.54035 18.8665 6.40351 19.2311 6.47455C19.5956 6.54559 19.8908 6.81281 19.9976 7.16853C20.1044 7.52424 20.0052 7.90985 19.7401 8.16994L10.6001 18.1699C10.4134 18.3769 10.1488 18.4965 9.87009 18.4999H9.86009Z" fill="#212B36"/>
                                </svg>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td class="order_td">
                          <div class="drop_menu">
                            <div class="drop_icon_box">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M14 12.5C14 13.6046 13.1046 14.5 12 14.5C10.8954 14.5 10 13.6046 10 12.5C10 11.3954 10.8954 10.5 12 10.5C13.1046 10.5 14 11.3954 14 12.5Z" fill="#212B36"/>
                                <path d="M14 5.5C14 6.60457 13.1046 7.5 12 7.5C10.8954 7.5 10 6.60457 10 5.5C10 4.39543 10.8954 3.5 12 3.5C13.1046 3.5 14 4.39543 14 5.5Z" fill="#212B36"/>
                                <path d="M14 19.5C14 20.6046 13.1046 21.5 12 21.5C10.8954 21.5 10 20.6046 10 19.5C10 18.3954 10.8954 17.5 12 17.5C13.1046 17.5 14 18.3954 14 19.5Z" fill="#212B36"/>
                              </svg>
                            </div>
                            <div class="menu_drop">
                              <!-- content here -->
                            </div>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>              
            </div>

            <div class="table_footer_wrap">
              <div class="content_btn">
                <div class="center">
                  <input type="checkbox" >
                </div>
                <div class="content_text">Dense</div>
              </div>
              <div class="pages_content">
                <div>
                  Rows per page:
                </div>
                <div class="d-flex align-items-center">
                  <div>20</div>
                  <div>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                      <path d="M16.3805 9.28957L12.5005 13.1696L8.62047 9.28957C8.23047 8.89957 7.60047 8.89957 7.21047 9.28957C6.82047 9.67957 6.82047 10.3096 7.21047 10.6996L11.8005 15.2896C12.1905 15.6796 12.8205 15.6796 13.2105 15.2896L17.8005 10.6996C18.1905 10.3096 18.1905 9.67957 17.8005 9.28957C17.4105 8.90957 16.7705 8.89957 16.3805 9.28957Z" fill="#212B36"/>
                    </svg>
                  </div>
                </div>
                <div>6-10 of 99999</div>
                <div class="d-flex">
                  <div>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                      <path d="M12.0247 15.8337C11.7726 15.8346 11.5336 15.7212 11.3747 15.5254L7.34973 10.5254C7.09697 10.2179 7.09697 9.77458 7.34973 9.46708L11.5164 4.46708C11.8109 4.1127 12.337 4.06419 12.6914 4.35874C13.0458 4.6533 13.0943 5.17936 12.7997 5.53375L9.07473 10.0004L12.6747 14.4671C12.8828 14.7168 12.9266 15.0648 12.787 15.3584C12.6474 15.652 12.3498 15.8375 12.0247 15.8337Z" fill="#919EAB" fill-opacity="0.8"/>
                    </svg>
                  </div>
                  <div>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                      <path d="M8.83334 15.8336C8.63863 15.834 8.44993 15.7662 8.3 15.6419C8.12958 15.5007 8.02238 15.2974 8.00206 15.0769C7.98173 14.8565 8.04996 14.637 8.19167 14.4669L11.925 10.0003L8.325 5.52528C8.1852 5.35312 8.11978 5.13233 8.14324 4.91179C8.1667 4.69126 8.2771 4.48917 8.45 4.35028C8.62431 4.19691 8.85469 4.12322 9.08565 4.14695C9.31661 4.17067 9.52719 4.28968 9.66667 4.47528L13.6917 9.47528C13.9444 9.78278 13.9444 10.2261 13.6917 10.5336L9.525 15.5336C9.35545 15.7382 9.09853 15.8496 8.83334 15.8336Z" fill="#212B36"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- END tabs-content -->
    </div>

  </div>  
</div>