<div class="on_hold_pop_wrapper">
  <div class="on_hold_header">
    <div class="header_section">
      <div class="header_id">Order ID: 1</div>
      <div class="yellow_badge">
        <div>On Hold</div>
      </div>
    </div>
    <div class="header_section">
      <div class="icon_wrap">
        <div class="wrap_text">Rudy</div>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.8335 7.99992C1.8335 4.31802 4.81826 1.33325 8.50016 1.33325C10.2683 1.33325 11.964 2.03563 13.2142 3.28587C14.4645 4.53612 15.1668 6.23181 15.1668 7.99992C15.1668 11.6818 12.1821 14.6666 8.50016 14.6666C4.81826 14.6666 1.8335 11.6818 1.8335 7.99992ZM8.50016 8.66659H11.1668C11.535 8.66659 11.8335 8.36811 11.8335 7.99992C11.8335 7.63173 11.535 7.33325 11.1668 7.33325H9.16683V5.33325C9.16683 4.96506 8.86835 4.66659 8.50016 4.66659C8.13197 4.66659 7.8335 4.96506 7.8335 5.33325V7.99992C7.8335 8.36811 8.13197 8.66659 8.50016 8.66659Z" fill="#FFD666"/>
        </svg>
      </div>
      <div class="slip_btn_wrap">
        Download Slip
        <svg class="slip_icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path d="M4.5 19C4.5 18.4477 4.94772 18 5.5 18H19.5C20.0523 18 20.5 18.4477 20.5 19C20.5 19.5523 20.0523 20 19.5 20H5.5C4.94772 20 4.5 19.5523 4.5 19Z" fill="black"/>
          <path d="M5.5 20C4.94772 20 4.5 19.5523 4.5 19V17C4.5 16.4477 4.94772 16 5.5 16C6.05228 16 6.5 16.4477 6.5 17V19C6.5 19.5523 6.05228 20 5.5 20Z" fill="black"/>
          <path d="M19.5 20C18.9477 20 18.5 19.5523 18.5 19V17C18.5 16.4477 18.9477 16 19.5 16C20.0523 16 20.5 16.4477 20.5 17V19C20.5 19.5523 20.0523 20 19.5 20Z" fill="black"/>
          <path d="M12.5 15C12.2927 15.0016 12.09 14.9387 11.92 14.82L7.92 12C7.47119 11.6816 7.36393 11.0604 7.68 10.61C7.83307 10.3916 8.06708 10.2433 8.32998 10.1982C8.59289 10.1532 8.86291 10.215 9.08 10.37L12.5 12.76L15.9 10.2C16.3418 9.86863 16.9686 9.95817 17.3 10.4C17.6314 10.8418 17.5418 11.4686 17.1 11.8L13.1 14.8C12.9269 14.9298 12.7164 15 12.5 15Z" fill="black"/>
          <path d="M12.5 13C11.9477 13 11.5 12.5523 11.5 12V4C11.5 3.44772 11.9477 3 12.5 3C13.0523 3 13.5 3.44772 13.5 4V12C13.5 12.5523 13.0523 13 12.5 13Z" fill="black"/>
        </svg>
      </div>
      <div class="slip_btn_wrap edit_btn">
        <div class="slip_text">Download Slip</div>
      </div>
    </div>
  </div>
  <div class="create_date">Created Jul 29, 2022 at 11:32 AM</div>

  <div class="order_info_section">
    <div class="etsy_box">
      ETSY Order ID: 34568275
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
        <path d="M20.5 11C20.2348 11 19.9804 11.1054 19.7929 11.2929C19.6054 11.4804 19.5 11.7348 19.5 12V18C19.5 18.2652 19.3946 18.5196 19.2071 18.7071C19.0196 18.8946 18.7652 19 18.5 19H6.5C6.23478 19 5.98043 18.8946 5.79289 18.7071C5.60536 18.5196 5.5 18.2652 5.5 18V6C5.5 5.73478 5.60536 5.48043 5.79289 5.29289C5.98043 5.10536 6.23478 5 6.5 5H12.5C12.7652 5 13.0196 4.89464 13.2071 4.70711C13.3946 4.51957 13.5 4.26522 13.5 4C13.5 3.73478 13.3946 3.48043 13.2071 3.29289C13.0196 3.10536 12.7652 3 12.5 3H6.5C5.70435 3 4.94129 3.31607 4.37868 3.87868C3.81607 4.44129 3.5 5.20435 3.5 6V18C3.5 18.7956 3.81607 19.5587 4.37868 20.1213C4.94129 20.6839 5.70435 21 6.5 21H18.5C19.2956 21 20.0587 20.6839 20.6213 20.1213C21.1839 19.5587 21.5 18.7956 21.5 18V12C21.5 11.7348 21.3946 11.4804 21.2071 11.2929C21.0196 11.1054 20.7652 11 20.5 11Z" fill="#212B36"/>
        <path d="M16.5 5H18.08L11.79 11.28C11.6963 11.373 11.6219 11.4836 11.5711 11.6054C11.5203 11.7273 11.4942 11.858 11.4942 11.99C11.4942 12.122 11.5203 12.2527 11.5711 12.3746C11.6219 12.4964 11.6963 12.607 11.79 12.7C11.883 12.7937 11.9936 12.8681 12.1154 12.9189C12.2373 12.9697 12.368 12.9958 12.5 12.9958C12.632 12.9958 12.7627 12.9697 12.8846 12.9189C13.0064 12.8681 13.117 12.7937 13.21 12.7L19.5 6.42V8C19.5 8.26522 19.6054 8.51957 19.7929 8.70711C19.9804 8.89464 20.2348 9 20.5 9C20.7652 9 21.0196 8.89464 21.2071 8.70711C21.3946 8.51957 21.5 8.26522 21.5 8V4C21.5 3.73478 21.3946 3.48043 21.2071 3.29289C21.0196 3.10536 20.7652 3 20.5 3H16.5C16.2348 3 15.9804 3.10536 15.7929 3.29289C15.6054 3.48043 15.5 3.73478 15.5 4C15.5 4.26522 15.6054 4.51957 15.7929 4.70711C15.9804 4.89464 16.2348 5 16.5 5Z" fill="#212B36"/>
      </svg>
    </div>

    <div class="note_seller">
      Note to Seller:  Can you please send me proof before production? Thank you.
    </div>

    <div class="info_row_wrapper">
      <% 2.times do %>
      <div class="row_content">
        <div class="content_head">Customer</div>
        <div class="content_body">
          <div class="content_text">
            Sabrina Kezzi 55 Main Street Long Island, NY, 02011, US Requested Shipping Method: Standard Shipping          
          </div>
        </div>
      </div>
      <% end %>
      <div class="row_content">
        <div class="content_head">Customer</div>
        <div class="content_body">
          <ul class="content_list">
            <li>Item(s) Total: <span>$64.89</span></li>
            <li>Item(s) Total: <span class="orange_text">$64.89</span></li>
            <li>Item(s) Total: <span>$64.89</span></li>
            <li>Item(s) Total: <span>$64.89</span></li>
            <li>Item(s) Total: <span>$64.89</span></li>
            <li>Item(s) Total: <span>$64.89</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="details_section">
      <div class="details_header">
        <div class="number">No.</div>
        <div class="number height">Amazon Personalization Preview</div>
        <div class="head_text">Product & Personalization Info</div>
      </div>
      <div class="details_body">
        <div class="left">1</div>
        <%= image_tag "imgproduct", alt:"image", class:"product_img" %>
        <div class="right sm_height">
          <div class="right_big">Product Title</div>
          <div class="right_normal"><span>Amazon SKU:</div>
          <div class="right_normal"><span>Quantity:</div>
          <div class="right_normal">Customizations:</div>
        </div>
      </div>

      <div class="details_body">
        <div class="left">1</div>
        <%= image_tag "imgproduct", alt:"image", class:"product_img" %>
        <div class="right sm_height">
          <div class="right_big">Product Title</div>
          <div class="right_small">(20oz YETI Tumbler)</div>
          <div class="right_normal"><span>SKU: <span>autogenerated-when-product-was-published-on-amazon</span></span></div>
          <div class="right_normal"><span>Design name: <span>Entered by dropshipper when publishing the products on Amazon</span></div>
          <div class="right_normal">Customizations:</div>
        </div>
      </div>

      <div class="details_body">
        <div class="left">1</div>
        <div class="right">
          <div class="right_big">School Logo Tumbler, School Logo Tumbler,School Logo Tumbler,School Logo Tumbler, School </div>
          <div class="right_small">(20oz YETI Tumbler)</div>
          <div class="right_normal">ETSY SKU: </div>
          <div class="right_normal">Quantity: </div>
          <div class="right_normal">Design Style:<span>Design 1 - YT114-10</span> </div>
          <div class="right_normal">Brand / Color:<span>Design 1 - YT114-10</span> </div>
          <div class="right_normal">Personalization: <br><span>Font: Azonix <br> Text: Jack’s Daily Cup</span> </div>
        </div>
      </div>
    </div>

    <div class="bottom_line">...</div>

  </div>
</div>