<div class="send_msg_popup">
  <div class="send_msg_wrapper">
    <div class="send_msg_pop_box ">
      <h5 class="send_head">Send a Message to Admin</h5>
      <div class="send_text w-100">
        <label>Add a Comment</label>
        <textarea class="w-100">A product was already printed. Please let me know how to proceed with this order.</textarea>
      </div>
      <button class="send_btn">Submit</button>
    </div>

    <div class="success_flash hide">
      <div class="flash_content">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C14.6522 2 17.1957 3.05357 19.0711 4.92893C20.9464 6.8043 22 9.34784 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.73 15.61L16.3 9.61V9.58C16.5179 9.29419 16.5668 8.91382 16.4283 8.58218C16.2897 8.25054 15.9848 8.01801 15.6283 7.97218C15.2718 7.92635 14.9179 8.07419 14.7 8.36L10.92 13.36L9.29 11.28C9.07028 10.9978 8.71668 10.8542 8.36239 10.9033C8.00811 10.9525 7.70696 11.1869 7.57239 11.5183C7.43783 11.8497 7.49028 12.2278 7.71 12.51L10.15 15.62C10.3408 15.8615 10.6322 16.0017 10.94 16C11.2495 15.9993 11.5412 15.8552 11.73 15.61Z" fill="#36B37E"/>
        </svg>
        <h5 class="flash_head">Your Message is successfully sent!</h5>
      </div>
      
      <div class="cross_icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path d="M10.0526 8.99555L13.2734 5.78203C13.5671 5.4883 13.5671 5.01207 13.2734 4.71834C12.9797 4.42461 12.5035 4.42461 12.2098 4.71834L8.99651 7.93936L5.78322 4.71834C5.48951 4.42461 5.01331 4.42461 4.71961 4.71834C4.4259 5.01207 4.4259 5.4883 4.71961 5.78203L7.94039 8.99555L4.71961 12.2091C4.57781 12.3497 4.49805 12.5412 4.49805 12.7409C4.49805 12.9407 4.57781 13.1321 4.71961 13.2728C4.86025 13.4146 5.05169 13.4943 5.25141 13.4943C5.45113 13.4943 5.64257 13.4146 5.78322 13.2728L8.99651 10.0517L12.2098 13.2728C12.3505 13.4146 12.5419 13.4943 12.7416 13.4943C12.9413 13.4943 13.1328 13.4146 13.2734 13.2728C13.4152 13.1321 13.495 12.9407 13.495 12.7409C13.495 12.5412 13.4152 12.3497 13.2734 12.2091L10.0526 8.99555Z" fill="white"/>
        </svg>
      </div>
    </div>
  </div>
</div>