<turbo-frame id="all-producer-order-modal">
  <div id= "all_producer_model" class="select_pop_wrap_model" data-controller="modals" data-modals-modal-id-value="all_producer_model">
    <div class="select_pop_wrap_outer">
      <div class="select_pop_wrap">
        <div class="select_head">
          Choose a Product
          <%= image_tag "close", alt:"icon", class: "close_icon" %>
        </div>
        <div class="select_content">
          <div class="scroll_section">
            <% @producers.each do |producer| %>
              <div class="scroll_content">
                <div class="image_text_wrap">
                  <div class="text_wrap">
                    <%= producer.name %>
                    <div class="light_text"><%= producer.location %></div>
                  </div>
                  <label class="image_label">LASER ENGRAVING</label>
                </div>
                <div class="choose_btn"><%= link_to 'Choose', new_order_path(producer_id: producer.id), data: { 'turbo-frame': '_top' } %></div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>



<!-- <div class="select_pop_wrap_model choose_producer" style="display: none;">
  <div class=" select_pop_wrap_outer">
    <div class="select_pop_wrap">
      <div class="select_head">
        Choose a Product
        <%#= image_tag "red_close", alt:"icon", class:"close_icon" %>
      </div>
      <div class="select_content">
        <div class="content_head">PRODUCER 1</div>
        <div class="select_search_box">
          <%#= image_tag "search", alt:"icon", class:"search_icon" %>
          <input class="search_input" type="text" placeholder="Search Product" >
        </div>
        <div class="content_text">Available Products</div> -->
<!--         <div class="scroll_section">
          <#% 5.times do %>
          <div class="scroll_content">
            <div class="image_text_wrap">
              <%#= image_tag "trans_glas", alt:"image", class:"img_logo" %>
              <div class="text_wrap">
                Producer 1
                <div class="light_text">Ships From: Buffalo, NY</div>
              </div>
              <label class="image_label">LASER ENGRAVING</label>
            </div>
            <button class="choose_btn">Choose</button>
            <%#= image_tag "right_arrow", alt:"icon", class:"rigth_arrow" %>
          </div>
          <%#end%>
        </div> -->
    <!--     <div class="back_to_btn_section">
          <button class="back_to_btn">
            <%#= image_tag "dark_start_icon", alt:"icon", class:"icon" %>
            <div class="btn_text">Back to Choose a Producer</div>
          </button>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div>  -->
