<turbo-frame id="cancel-order-modal">
  <div class="cancel_popup_model">
    <div class="cancel_popup_wrapper">
      <div id="cancel_popup" class="cancel_popup" data-controller="modals" data-modals-modal-id-value="cancel_popup">
        <div class="cancel_head">
          <%= image_tag "shape", alt: "icon", class:"head_img" %>
          <div class="head_text">Cancel Order <%= @order.id %>?</div>
        </div>
        <div class="middle_text">Are you sure you want to cancel this order?</div>
        <div class="btn_group">
          <%= link_to 'Remove', order_path(@order,request_type: "Cancel"), method: :patch, class: 'orange_btn remove_order'%>
          <button class="outline_btn keep_it">Keep it.</button>
        </div>
      </div>

      <div class="cancel_flash">
        <a href="#" class="cancel" >X</a>
        <div class="head_text">Order <%= @order.id %> is now cancelled.</div>
        <div class="cancel_text">Please check cancelled orders tab if you would like to duplicate your order and submit for production again.</div>
      </div>
    </div>
  </div>
</turbo-frame>