<turbo-frame id="destroy-order-modal">
  <div class="request_pop_model">
    <div id="cancel_popup_model" class="cancel_popup_model" data-controller="modals" data-modals-modal-id-value="cancel_popup_model">
      <div class="cancel_popup_wrapper">
        <div class="cancel_popup ">
          <div class="cancel_head">
            <%= image_tag "trash", alt: "icon", class:"head_img" %>
            <div class="head_text">Delete Order?</div>
          </div>
          <div class="middle_text">Are you sure you want to delete this order? Deleted orders can not be retrieved.</div>
          <div class="btn_group">
            <%= link_to 'Delete',order_path(@order), data: { 'turbo-method': :delete }, class: 'orange_btn', data_turbo_frame: 'destroy-order-modal' %>
            <button class="outline_btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
