<div class="orders_page_wrapper <%= current_user.type == "Designer" || current_user.type == "Admin" ? 'designer_orders' : '' %>">
  <%= render "shared/sidebar" %>

  <% if current_user.type == "Designer" || current_user.type == "Admin" %>
    <%= render "designer_index" %>
  <% else %>
    <%= render "producer_index" %>
  <% end %>
  
</div>

<script type="text/javascript">
  function changeRowsPerPage(value) {
    window.location.href = window.location.pathname + "?per_page=" + value;
  }

  // Show the first tab and hide the rest
  $('#tabs-nav li:first-child').addClass('active');
  $('.tab-content').hide();
  $('.tab-content:first').show();

  // Click function
  $('#tabs-nav li').click(function(){
    $('#tabs-nav li').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    
    var activeTab = $(this).find('a').attr('href');
    $(activeTab).fadeIn();
    return false;
  });


  $('.collapse_show').click(function () {
    $(this).closest('.tbody_row').find('.collapse_data').slideDown(800);
  });
  $('.collapse_hide').click(function () {
    $(this).closest('.tbody_row').find('.collapse_data').slideUp(800);
  });
</script>
