<turbo-frame id="cancel-request-order-modal">
  <%= form_for @cancel_request, url: create_cancel_request_order_path(@order) do |a| %>
  <div class="request_cancel_model">
    <div class="request_cancel_wrapper">
      <div id="request_cancel_pop" class="request_cancel_pop " data-controller="modals" data-modals-modal-id-value="request_cancel_pop">
        <div class="request_head">Request Cancellation for this order</div>
        <%= a.text_field :cancel_reason, class: "input_field", placeholder: "Please enter more information" %>
        <%= a.submit 'Submit', class: 'request_btn' %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="request_sent_flash_model">
    <div class="request_sent_flash_wrapper">
      <div href="#" class="request_sent_flash">
        <span>Request sent</span>
        <div href="#" class="x_icon">x</div>
      </div>
    </div>
  </div>

</turbo-frame>