<turbo-frame id="save-changes-order-model">
	<div class="save_changes_pop_model" data-controller="save-order">
		<div class="save_changes_pop_wrapper">
			<div id="save_changes_pop" class="save_changes_pop" data-controller="modals" data-modals-modal-id-value="save_changes_pop">
			  <div class="save_head">Save Changes?</div>
			  <div class="save_text">If not saved, any progress made on this order will be lost and cannot be recovered.</div>
			  <div class="btn_group">
			    <%= link_to 'Don’t Save', orders_path, data: { 'turbo-frame': '_top' }, class: "outline_btn save_btn" %>
			    <button id="save" class="outline_btn save_btn green_bg" data-save-order-target="saveButton">save</button>
			  </div>
			</div>
		</div>
	</div>
</turbo-frame>
