<turbo-frame id="edit-aisle-modal">
	<div class="edit_aisle_pop_model">
		<div class="edit_aisle_pop_wrapper">
			<div id="edit_aisle_pop" class="edit_pop_wrap small_pop update_assign_pop edit_aisle_pop" data-controller="modals" data-modals-modal-id-value="edit_aisle_pop">

				<%= image_tag "close", alt:"colse", class:"close_icon" %>
			  <div class="edit_head mb-0">Edit Aisle: SKU NO</div>
			  <div class="current_qty">Current Pricing: Not Priced</div>

			  <input type="text" class="edit_aisle_input" placeholder="Enter New Aisle No" >

			  <div class="current_qty">Current Pricing: Not Priced</div>
			  <div class="inventory_edit_btn">Submit</div>
			</div>
		</div>	
	</div>
</turbo-frame>