*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.hero_wrapper {
  display: flex;
  background: #FFF;

  .sidebar_wrapper {
    width: 12.211vw;
    padding: 1.389vw 0.694vw;

    .sidebar_content {
      .sidebar_logo {
        width: 12.211vw;
        height: 5.150vw;
      }

      .sidebar_head {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        height: 4.398vw;
        padding: 0.926vw 0.694vw;
        gap: 0.926vw;
        border-radius: 0.694vw;
        background: var(--transparent-grey-8, rgba(145, 158, 171, 0.08));
        margin: 1.389vw 0px;

        .sidebar_text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;

          .dark_head {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.273vw;
            margin: 0px;
          }
          .light_head {
            color: #919EAB;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;
            margin: 0px;
          }
        }
      }

      .list_wrapper {
        .list_content {

          .list_bottom_text {
            color: #637381;
            font-family: Public Sans;
            font-size: 0.637vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.042vw;
            text-transform: uppercase;
            padding: 1.389vw 0px 0.463vw 0.926vw;
            border-radius: 0.463vw;
            background: #FFF;
          }
          .list_ul {
                padding: 0px;
                .list {
                  list-style: none;
                  display: flex;
                  height: 2.778vw;
                  padding: 0px 0.694vw 0px 0.926vw;
                  align-items: center;
                  align-self: stretch;

                  .list_icon {
                    width: 1.389vw;
                    height: 1.389vw;
                    margin-right: 0.926vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.dot {
                      width: 0.231vw;
                      height: 0.231vw;
                      flex-shrink: 0;
                    }
                  }
                  .list_text {
                    color: #637381;
                    font-family: Public Sans;
                    font-size: 0.810vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.273vw;
                  }
                }
              }
          .list_head {
            padding: 1.389vw 0px 0.463vw 0.926vw;
            border-radius: 0.463vw;
            margin-bottom: 0px;
            color: #637381;
            font-family: Public Sans;
            font-size: 0.637vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.042vw;
            text-transform: uppercase;
          }
        }
      }

      .sidebar_footer_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.694vw;
        align-self: stretch;

        .side_footer_img {
          width: 11.574vw;
          height: 8.912vw;
        }
        .sidebar_foot_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.463vw;

          .foot_head {
            color: #212B36;
            text-align: center;
            font-family: Public Sans;
            font-size: 0.926vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.389vw;
          }
          .foot_text {
            color: #919EAB;
            text-align: center;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;
          }
          .sidebar_btn {
            padding: 0.347vw 0.926vw;
            border-radius: 8px;
            background: #00AB55;
            border: 0px;
            color: #FFF;
            text-align: center;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.389vw;
          }
        }
      }
    }

  }

  .main_panel_wrapper {
    width: 86.516vw;

    .panel_header {
      display: flex;
      width: 81.887vw;
      padding: 1.389vw 0px;
      flex-direction: column;
      align-items: center;
      gap: 2.778vw;

      .header_box {
        display: flex;
        padding: 0.694vw 0px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .create_wrap {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.463vw;
          flex: 1 0 0;

          .create_content {
            display: flex;
            padding: 0.347vw 0.926vw;
            justify-content: center;
            align-items: center;
            gap: 0.463vw;
            border-radius: 1px;
            background: #000;

            .plus_icon {
              width: 1.157vw;
              height: 1.157vw;
            }

            .create_text {
              color: #FFF;
              text-align: center;
              font-family: Public Sans;
              font-size: 0.810vw;
              font-style: normal;
              font-weight: 700;
              line-height: 1.389vw;
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .panel_content_wrapper {
      display: flex;
      width: 83.912vw;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 0.926vw;
      background: #FFF;
      box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

      .search_wrap {
        display: flex;
        width: 75.231vw;
        padding: 0.694vw 1.157vw;
        align-items: center;
        gap: 0.926vw;

        .search_box {
          display: flex;
          padding: 0.926vw 0.810vw;
          align-items: center;
          gap: 0.463vw;
          align-self: stretch;
          border-radius: 0.463vw;
          border: 1px solid rgba(145, 158, 171, 0.32);

          .search_icon {
            width: 1.389vw;
            height: 1.389vw;
          }
          .search_input {
            overflow: hidden;
            color: #919EAB;
            text-overflow: ellipsis;
            whitespace: nowrap;
            font-family: Public Sans;
            font-size: 0.926vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.389vw;
            width: 21.644vw;
            height: 3.241vw;
            border: 0px;

            &:focus {
              outline: none;
            }
          }
        }
      }
      .panel_table_wrap {

        .table_header_row {
          width: 83.912vw;
          display: flex;
          height: 2.894vw;
          padding: 0px 1.389vw;
          align-items: center;
          gap: 1.389vw;
          align-self: stretch;
          border-bottom: 1px solid rgba(145, 158, 171, 0.24);
          background: #F4F6F8;
          margin-bottom: 6px;

          .table_header_col {
            display: flex;
            padding: 0.752vw 0px 0.637vw 0px;
            justify-content: center;
            align-items: center;
            color: #637381;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.273vw;
            gap: 0.347vw;

            &.green_border {
              border-bottom: 0.116vw solid #00AB55;
            }

            .col_icon {
              display: flex;
              padding: 0.752vw 0px 0.694vw 0px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 0.347vw;
              background: rgba(255, 86, 48, 0.16);
              padding: 0.116vw 0.463vw;

              &.yellow {
                background: rgba(255, 171, 0, 0.16);
              }
              &.green {
                background: rgba(54, 179, 126, 0.16);
              }
            }
          }
        }
        .custom_table {
          width: 83.912vw;
          .table_thead {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.694vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.389vw;

            & th {
              background: #F4F6F8;
            }

            .th_icon {
              width: 1.042vw;
              height: 1.042vw;
            }
          }
          .table_tbody {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;

            & td {
              border: 0px;
            }

            .total_items {
              text-align: center;
              width: 4.919vw;

              & div {
                padding: 0.868vw 1.852vw;
                border-radius: 0.463vw;
                background: rgba(145, 158, 171, 0.08);
              }
            }
            .status {
              border-radius: 0.347vw;
              display: flex;
              align-items: center;
              background: rgba(51, 102, 255, 0.24);
              border-radius: 0.347vw;
              padding: 4px 0.463vw;
              width: 5.440vw;
              color: #36F;
              font-family: Public Sans;
              font-size: 0.694vw;
              font-style: normal;
              font-weight: 400;
              line-height: 1.157vw;
            }
            .assignee {
              display: flex;
              align-items: center;
              padding: 2px 4px;
              gap: 3px;
              width: 5.208vw;
              border-radius: 6px;
              border: 1px solid rgba(54, 179, 126, 0.28);
              background: var(--transparent-success-16, rgba(54, 179, 126, 0.16));

              & div {
                font-family: Public Sans;
                font-size: 0.694vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.157vw;
              }
            }
            .actions {
              display: flex;

              & svg {
                height: 1.447vw;
                width: 1.447vw;
              }
            }
          }
        }
        .table_footer_wrap {
          display: flex;
          height: 3.125vw;
          padding: 0.579vw 1.389vw;
          justify-content: space-between;
          align-items: center;
          gap: 1.389vw;
          align-self: stretch;

          .content_text {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;
          }

          .content_btn {
            display: flex;
            align-items: center;
            gap: 0.521vw;

            .center{
              width: 40px;
              height: auto;
              top: 50%;
              left: 50%;
            }

            input[type="checkbox"]{
              position: relative;
              width: 100%;
              background: gainsboro;
              -webkit-appearance: none;
              height: 22px;
              background: #efefef;
              outline: none;
              border-radius: 30px;
              box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
              transition: 0.5s;
              margin-top: 6px;
            }

            input[type="checkbox"]:checked{
            background: gainsboro;
            }

            input[type="checkbox"]:before{
              content: '';
              position: absolute;
              width: 14px;
              height: 14px;
              left: -2px;
              background: #fff;
              box-shadow: 0px 1px 6px 1px gainsboro;
              border-radius: 50%;
              top: 4px;
              transform: scale(1.1);
              transition: 0.5s;
              left: 4px;
            }

            input[type="checkbox"]:checked:before{
            left:22px;
            }
          }
          .pages_content {
            display: flex;
            align-items: center;
            gap: 1.389vw;
            color: #212B36;
            text-align: right;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;

            .icon {
              width: 1.389vw;
              height: 1.389vw;
            }
          }
        }
      }
    }
  }


  // products page main content

  .products_wrapper {
    width: 81.887vw;
    background: #FFF;
    padding-left: 4.514vw;

    .products_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      .top_section {
        display: flex;
        width: 81.887vw;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: center;
        gap: 48px;

        .search_wrap {
          display: flex;
          padding: 24px 44px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          background: #FFF;

          .search_box {
            display: flex;
            padding: 16px 14px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid rgba(145, 158, 171, 0.32);
            background: #F4F6F8;

            .search_icon {
              width: 24px;
              height: 24px;
            }

            .search_input {
              height: 24px;
              flex: 1 0 0;
              overflow: hidden;
              color: #919EAB;
              text-overflow: ellipsis;
              whitespace: nowrap;
              font-family: Public Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              border: 0px;
              background: #F4F6F8;

              &:focus {
                outline: none;
              }
            }
          }

          .bell_notify {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .account_icon {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px;
              background: rgba(145, 158, 171, 0.24);
              width: 2.315vw;
              height: 2.315vw;
              padding: 8px;

            }
          }
        }

        .export_btn_wrap {
          display: flex;
          padding: 16px 44px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          .export_head {
            display: flex;
            width: 181px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;
            color: #212B36;
            font-family: Public Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 0px;
          }

          .btn_group {
            display: flex;
            align-items: flex-start;
            gap: 12px;

            .export_btn {
              display: flex;
              padding: 6px 16px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              border-radius: 8px;
              background: #00AB55;

              .btn_text {
                color: #FFF;
                text-align: center;
                font-family: Public Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                text-decoration: none;
              }
            }
          }
        }
      }

      .search_section {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        .search_box {
          display: flex;
          width: 320px;
          padding: 16px 14px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          border: 1px solid rgba(145, 158, 171, 0.32);

          .search_input {
            overflow: hidden;
            color: #919EAB;
            text-overflow: ellipsis;
            whitespace: nowrap;
            font-family: Public Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            border: 0px;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .table_section {
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-end;
        gap: 24px;
        align-self: stretch;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

        .table_footer_wrap {
          display: flex;
          height: 3.125vw;
          padding: 0.579vw 1.389vw;
          justify-content: space-between;
          align-items: center;
          gap: 1.389vw;
          align-self: stretch;
          border-top: 1px solid rgba(145, 158, 171, 0.24);
          background: #FFF;

          .content_text {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;
          }

          .content_btn {
            display: flex;
            align-items: center;
            gap: 0.521vw;

            .center{
              width: 40px;
              height: auto;
              top: 50%;
              left: 50%;
            }

            input[type="checkbox"]{
              position: relative;
              width: 100%;
              background: gainsboro;
              -webkit-appearance: none;
              height: 22px;
              background: #efefef;
              outline: none;
              border-radius: 30px;
              box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
              transition: 0.5s;
              margin-top: 6px;
            }

            input[type="checkbox"]:checked{
            background: gainsboro;
            }

            input[type="checkbox"]:before{
              content: '';
              position: absolute;
              width: 14px;
              height: 14px;
              left: -2px;
              background: #fff;
              box-shadow: 0px 1px 6px 1px gainsboro;
              border-radius: 50%;
              top: 4px;
              transform: scale(1.1);
              transition: 0.5s;
              left: 4px;
            }

            input[type="checkbox"]:checked:before{
            left:22px;
            }
          }
          .pages_content {
            display: flex;
            align-items: center;
            gap: 1.389vw;
            color: #212B36;
            text-align: right;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;

            .icon {
              width: 1.389vw;
              height: 1.389vw;
            }
          }
        }

        .table_content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 16px;

          .custom_col {
            color: #212B36;
            font-family: Public Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
          }
          .col_shadow {
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

            & img {
              width: 97px;
              height: 70px;
            }
          }
        }
      }
    }
  }

  // new product form main content

  .new_product_wrap {
    display: flex;
    width: 83.738vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 40px 120px 10px;
    margin-left: 24px;

    .product_header {
      display: flex;
      width: 83.738vw;
      padding: 24px 40px;
      justify-content: space-between;
      align-items: center;

      .icon_group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .flag {
          display: flex;
          padding: 10px 6px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
        }
        .user_icon {
          width: 40px;
          height: 40px;
          border-radius: 100px;
        }
      }
    }

    .new_head {
      color: #212B36;
      font-family: Public Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 0px;
    }

    .export_btn {
      display: flex;
      padding: 6px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: #00AB55;

      .btn_text {
        color: #FFF;
        text-align: center;
        font-family: Public Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
    }

    .group_info_section {
      display: flex;
      padding: 24px;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      .image_info {
        display: flex;
        width: 223px;
        height: 194px;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        border-radius: 8px;
        border: 1px dashed rgba(145, 158, 171, 0.32);
        background: #F4F6F8;

        .info_img {
          width: 89px;
          height: 67px;
        }
        .info_content {
          display: flex;
          padding: 0px 29px;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          align-self: stretch;

          .info_head {
            color: #212B36;
            text-align: center;
            font-family: Public Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 27px;
            margin-bottom: 0px;
          }

          .info_link {
            font-family: Public Sans;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            color: #637381;
            text-decoration-line: underline;

            & span {
              color: #00AB55;
              text-decoration-line: underline;
            }
          }
        }
      }

      .right_info_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 13px;
        width: 58.102vw;

        .right_item {
          display: flex;
          padding: 16px 14px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 8px;
          border: 1px solid rgba(145, 158, 171, 0.32);
          position: relative;

          & label {
            position: absolute;
            top: -6px;
            background: white;
            padding: 0px 4px;
            color: #919EAB;
            font-family: Public Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
          }

          .item_text {
            overflow: hidden;
            color: #212B36;
            text-overflow: ellipsis;
            font-family: Public Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            border: 0px;
            width: 100%;

            &:focus{
              outline: none;
            }
          }
        }
      }
    }

    .producers_section {
      display: flex;
      padding: 24px 24px 35px 24px;
      flex-direction: column;
      align-items: flex-end;
      gap: 14px;
      border-radius: 16px;
      background: #FFF;
      box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
      width: 78.067vw;

      .producers_head {
        display: flex;
        height: 47px;
        padding: 24px 16px 24px 24px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        background: linear-gradient(180deg, rgba(110, 119, 129, 0.32) 0%, rgba(145, 158, 171, 0.00) 100%);
        color: #212B36;
        font-family: Public Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;      
      }
      .producers_table {
        width: 100%;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

        .table_head {
          padding: 20px 0px; 
          text-align: center;
          background: #F4F6F8;
          color: #212B36;
          font-family: Public Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }
        .table_td {
          color: #212B36;
          font-family: Public Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          padding: 20px 0px;
          text-align: center;
        }
      }
    }

    .variations_section {
      display: flex;
      padding: 24px 24px 35px 24px;
      flex-direction: column;
      align-items: flex-end;
      gap: 14px;
      width: 78.067vw;
      border-radius: 16px;
      background:  #FFF;
      box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

      .variantions_head {
        display: flex;
        height: 47px;
        padding: 24px 16px 24px 24px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        background: linear-gradient(180deg, rgba(145, 158, 171, 0.32) 0%, rgba(145, 158, 171, 0.00) 100%);
        color: #212B36;
        font-family: Public Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
      }

      .variatins_table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
        width: 100%;

        .table_head {
          padding: 20px 40px;
          text-align: center;
          background: #C4CDD5;
          color: #212B36;
          font-family: Public Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          border-right: 2px solid white;
        }

        .table_td {
          padding: 20px 30px;
          text-align: center;
          border: 0px;
          color: #212B36;
          font-family: Public Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          background: #DFE3E8;

            .dimension_btn {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 6px;
              border-radius: 6px;
              background: rgba(51, 102, 255, 0.48);

              &.light {
                background: rgba(51, 102, 255, 0.24);
              }

              & span {
                color: #FFF;
                text-align: center;
                font-family: Public Sans;
                font-size: 12px;
                font-style: normal;
                font-weight: 800;
                line-height: 20px;
              }
            }

          & img {
            width: 95px;
            height: 64px;
          }
        }

        .purpul_row {
          background: #D6E4FF;
          border-right: 2px solid white;
          padding: 8px 15px;
            &.first {
              border-left: 4px solid white;
            }
          .t_text {
            color: #637381;
            text-align: center;
            font-family: Public Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
          }
        }

        .table_footer {
          border-radius: 8px;
          padding: 8px;
          background: #FFF;

          .foot_content {
            border-radius: 8px;
            border: 1px solid rgba(145, 158, 171, 0.32);
            position: relative;
            padding: 12px;

            & label {
              color: #919EAB;
              font-family: Public Sans;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 12px;
              position: absolute;
              background: white;
              padding: 0px 4px;
              top: -6px
            }

            & span {
              padding: 12px;
            }

            .foot_text {
              color: #637381;
              text-align: center;
              font-family: Public Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }

            &.foot_btn {
              border: 0px;
              text-align: center;
              & button {
                border-radius: 8px;
                border: 1px solid rgba(0, 171, 85, 0.48);
                color: #00AB55;
                text-align: center;
                font-family: Public Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                padding: 10px 20px;
                background: white;
              }
            }
          }
        }
      }

      .add_variation {  
        display: flex;
        padding: 11px 22px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        background: #637381;
        border: 0px;

        .add_icon {
          width: 24px;
          height: 24px;
        }
        .add_head {
          color: #FFF;
          font-family: Public Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }

      .horizontal_line {
        display: flex;
        height: 4px;
        padding: 0px 10px;
        align-items: flex-start;
        gap: 137px;
        align-self: stretch;
        background: rgba(145, 158, 171, 0.20);
      }

      .save_variant_section {
        width: 75.289vw;
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

        .save_variant_btn {
          display: flex;
          padding: 11px 22px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 8px;
          background: #36B37E;
          color: #FFF;
          font-family: Public Sans;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
          border: 0px;
        }
      }
    }

    .product_print_section {
      width: 78.530vw;
      .print_head {
        display: flex;
        height: 47px;
        padding: 24px 16px 24px 24px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        background: linear-gradient(180deg, rgba(84, 92, 100, 0.32) 0%, rgba(145, 158, 171, 0.00) 100%);

      }
      .print_table {
        width: 78.530vw;
        .print_th {
          background: #F4F6F8;
          text-align: center;
          color: #212B36;
          font-family: Public Sans;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          border-right: 2px solid #F4F6F8;
        }
        .print_td {
          text-align: center;
          padding: 10px 67px 0px 67px !important;

          .foot_content {
            padding: 12px;
            border-radius: 8px;
            border: 1px solid rgba(145, 158, 171, 0.32);

            & span {
              overflow: hidden;
              color: #637381;
              text-align: center;
              font-family: Public Sans;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
            }
          }
        }
      }
    }

    .bottom_btn_group {
      display: flex;
      padding: 24px;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      border-top: 1px solid rgba(145, 158, 171, 0.24);

      .cancel_btn {
        display: flex;
        padding: 6px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        border: 1px solid rgba(145, 158, 171, 0.32);
        color: #212B36;
        text-align: center;
        font-family: Public Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }

      .save_btn {
        display: flex;
        padding: 6px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: #36B37E;
        border: 0px;
        color: #FFF;
        text-align: center;
        font-family: Public Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }
}

  // USER DASHBOARD-My Orders-In Produ  end here



.more_action_wrap {
  display: flex;
  width: 324px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.24);
  background: #FFF;

  .more_box {
    display: flex;
    padding: 8px 8px 8px 0px;
    align-items: center;
    align-self: stretch;

    .icon_box {

    }
    .more_box_icon {
      width: 24px;
      height: 24px;
      display: flex;
      padding: 10px;
      align-items: flex-start;
      gap: 10px;
    }

    .more_box_text {
      color: #FF5630;
      font-family: Public Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
    }
  }
}


  // bell icon css

  .create_bell_box {
    display: flex;
    width: 2.315vw;
    height: 2.315vw;
    padding: 0.463vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    .create_bell_icon {
      width: 1.389vw;
      height: 1.389vw;
      flex-shrink: 0;
    }

    .create_notification {
      display: inline-flex;
      padding: 0px 0.405vw;
      justify-content: center;
      align-items: center;
      border-radius: 0.579vw;
      background: #FF5630;
      position: absolute;
      top: 0;
      right: 0;


      .notification_text {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Public Sans;
        font-size: 0.694vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.157vw;
        width: 0.405vw;
        margin: 0px;
      }
    }
  }