*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.hero_wrapper {
  display: flex;
  background: #FFF;

  .sidebar_wrapper {
    width: 12.211vw;
    padding: 1.389vw 0.694vw;

    .sidebar_content {
      .sidebar_logo {
        width: 12.211vw;
        height: 5.150vw;
      }

      .sidebar_head {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        height: 4.398vw;
        padding: 0.926vw 0.694vw;
        gap: 0.926vw;
        border-radius: 0.694vw;
        background: var(--transparent-grey-8, rgba(145, 158, 171, 0.08));
        margin: 1.389vw 0px;

        .sidebar_text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;

          .dark_head {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.273vw;
            margin: 0px;
          }
          .light_head {
            color: #919EAB;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;
            margin: 0px;
          }
        }
      }

      .list_wrapper {
        .list_content {

          .list_bottom_text {
            color: #637381;
            font-family: Public Sans;
            font-size: 0.637vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.042vw;
            text-transform: uppercase;
            padding: 1.389vw 0px 0.463vw 0.926vw;
            border-radius: 0.463vw;
            background: #FFF;
          }
          .list_ul {
                padding: 0px;
                .list {
                  list-style: none;
                  display: flex;
                  height: 2.778vw;
                  padding: 0px 0.694vw 0px 0.926vw;
                  align-items: center;
                  align-self: stretch;

                  .list_icon {
                    width: 1.389vw;
                    height: 1.389vw;
                    margin-right: 0.926vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.dot {
                      width: 0.231vw;
                      height: 0.231vw;
                      flex-shrink: 0;
                    }
                  }
                  .list_text {
                    color: #637381;
                    font-family: Public Sans;
                    font-size: 0.810vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.273vw;
                  }
                }
              }
          .list_head {
            padding: 1.389vw 0px 0.463vw 0.926vw;
            border-radius: 0.463vw;
            margin-bottom: 0px;
            color: #637381;
            font-family: Public Sans;
            font-size: 0.637vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.042vw;
            text-transform: uppercase;
          }
        }
      }

      .sidebar_footer_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.694vw;
        align-self: stretch;

        .side_footer_img {
          width: 11.574vw;
          height: 8.912vw;
        }
        .sidebar_foot_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.463vw;

          .foot_head {
            color: #212B36;
            text-align: center;
            font-family: Public Sans;
            font-size: 0.926vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.389vw;
          }
          .foot_text {
            color: #919EAB;
            text-align: center;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;
          }
          .sidebar_btn {
            padding: 0.347vw 0.926vw;
            border-radius: 8px;
            background: #00AB55;
            border: 0px;
            color: #FFF;
            text-align: center;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.389vw;
          }
        }
      }
    }

  }

  .main_panel_wrapper {
    width: 86.516vw;

    .panel_header {
      display: flex;
      width: 81.887vw;
      padding: 1.389vw 0px;
      flex-direction: column;
      align-items: center;
      gap: 2.778vw;

      .header_box {
        display: flex;
        padding: 0.694vw 0px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .create_wrap {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.463vw;
          flex: 1 0 0;

          .create_content {
            display: flex;
            padding: 0.347vw 0.926vw;
            justify-content: center;
            align-items: center;
            gap: 0.463vw;
            border-radius: 1px;
            background: #000;

            .plus_icon {
              width: 1.157vw;
              height: 1.157vw;
            }

            .create_text {
              color: #FFF;
              text-align: center;
              font-family: Public Sans;
              font-size: 0.810vw;
              font-style: normal;
              font-weight: 700;
              line-height: 1.389vw;
              margin-bottom: 0px;
            }
          }

          .create_bell_box {
            display: flex;
            width: 2.315vw;
            height: 2.315vw;
            padding: 0.463vw;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            position: relative;

            .create_bell_icon {
              width: 1.389vw;
              height: 1.389vw;
              flex-shrink: 0;
            }

            .create_notification {
              display: inline-flex;
              padding: 0px 0.405vw;
              justify-content: center;
              align-items: center;
              border-radius: 0.579vw;
              background: #FF5630;
              position: absolute;
              top: 0;
              right: 0;


              .notification_text {
                color: #FFF;
                text-align: center;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Public Sans;
                font-size: 0.694vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.157vw;
                width: 0.405vw;
                margin: 0px;
              }
            }
          }
        }
      }
    }

    .panel_content_wrapper {
      display: flex;
      width: 83.912vw;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 0.926vw;
      background: #FFF;
      box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

      .search_wrap {
        display: flex;
        width: 75.231vw;
        padding: 0.694vw 1.157vw;
        align-items: center;
        gap: 0.926vw;

        .search_box {
          display: flex;
          padding: 0.926vw 0.810vw;
          align-items: center;
          gap: 0.463vw;
          align-self: stretch;
          border-radius: 0.463vw;
          border: 1px solid rgba(145, 158, 171, 0.32);

          .search_icon {
            width: 1.389vw;
            height: 1.389vw;
          }
          .search_input {
            overflow: hidden;
            color: #919EAB;
            text-overflow: ellipsis;
            whitespace: nowrap;
            font-family: Public Sans;
            font-size: 0.926vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.389vw;
            width: 21.644vw;
            height: 3.241vw;
            border: 0px;

            &:focus {
              outline: none;
            }
          }
        }
      }
      .panel_table_wrap {

        .table_header_row {
          width: 83.912vw;
          display: flex;
          height: 2.894vw;
          padding: 0px 1.389vw;
          align-items: center;
          gap: 1.389vw;
          align-self: stretch;
          border-bottom: 1px solid rgba(145, 158, 171, 0.24);
          background: #F4F6F8;
          margin-bottom: 6px;

          .table_header_col {
            display: flex;
            padding: 0.752vw 0px 0.637vw 0px;
            justify-content: center;
            align-items: center;
            color: #637381;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.273vw;
            gap: 0.347vw;

            &.green_border {
              border-bottom: 0.116vw solid #00AB55;
            }

            .col_icon {
              display: flex;
              padding: 0.752vw 0px 0.694vw 0px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 0.347vw;
              background: rgba(255, 86, 48, 0.16);
              padding: 0.116vw 0.463vw;

              &.yellow {
                background: rgba(255, 171, 0, 0.16);
              }
              &.green {
                background: rgba(54, 179, 126, 0.16);
              }
            }
          }
        }
        .custom_table {
          width: 83.912vw;
          .table_thead {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.694vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.389vw;

            & th {
              background: #F4F6F8;
            }

            .th_icon {
              width: 1.042vw;
              height: 1.042vw;
            }
          }
          .table_tbody {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;

            & td {
              border: 0px;
            }

            .total_items {
              text-align: center;
              width: 4.919vw;

              & div {
                padding: 0.868vw 1.852vw;
                border-radius: 0.463vw;
                background: rgba(145, 158, 171, 0.08);
              }
            }
            .status {
              border-radius: 0.347vw;
              display: flex;
              align-items: center;
              background: rgba(51, 102, 255, 0.24);
              border-radius: 0.347vw;
              padding: 4px 0.463vw;
              width: 5.440vw;
              color: #36F;
              font-family: Public Sans;
              font-size: 0.694vw;
              font-style: normal;
              font-weight: 400;
              line-height: 1.157vw;
            }
            .assignee {
              display: flex;
              align-items: center;
              padding: 2px 4px;
              gap: 3px;
              width: 5.208vw;
              border-radius: 6px;
              border: 1px solid rgba(54, 179, 126, 0.28);
              background: var(--transparent-success-16, rgba(54, 179, 126, 0.16));

              & div {
                font-family: Public Sans;
                font-size: 0.694vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.157vw;
              }
            }
            .actions {
              display: flex;

              & svg {
                height: 1.447vw;
                width: 1.447vw;
              }
            }
          }
        }
        .table_footer_wrap {
          display: flex;
          height: 3.125vw;
          padding: 0.579vw 1.389vw;
          justify-content: space-between;
          align-items: center;
          gap: 1.389vw;
          align-self: stretch;

          .content_text {
            color: #212B36;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;
          }

          .content_btn {
            display: flex;
            align-items: center;
            gap: 0.521vw;

            .center{
              width: 40px;
              height: auto;
              top: 50%;
              left: 50%;
            }

            input[type="checkbox"]{
              position: relative;
              width: 100%;
              background: gainsboro;
              -webkit-appearance: none;
              height: 22px;
              background: #efefef;
              outline: none;
              border-radius: 30px;
              box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
              transition: 0.5s;
              margin-top: 6px;
            }

            input[type="checkbox"]:checked{
            background: gainsboro;
            }

            input[type="checkbox"]:before{
              content: '';
              position: absolute;
              width: 14px;
              height: 14px;
              left: -2px;
              background: #fff;
              box-shadow: 0px 1px 6px 1px gainsboro;
              border-radius: 50%;
              top: 4px;
              transform: scale(1.1);
              transition: 0.5s;
              left: 4px;
            }

            input[type="checkbox"]:checked:before{
            left:22px;
            }
          }
          .pages_content {
            display: flex;
            align-items: center;
            gap: 1.389vw;
            color: #212B36;
            text-align: right;
            font-family: Public Sans;
            font-size: 0.810vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.273vw;

            .icon {
              width: 1.389vw;
              height: 1.389vw;
            }
          }
        }
      }
    }
  }
}



  // USER DASHBOARD-My Orders-In Produ  end here



.more_action_wrap {
  width: 324px;
  height: 240px;
  display: flex;
  width: 324px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.24);
  background: #FFF;
}