

.inventory_page_wrapper {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  
  .sidebar_wrapper {
    width: 14.12vw;
  }

  .inventory_panel_wrapper {
    flex: 1;
    padding: 0px 3.819vw 0px 1.505vw;

    &.inventory_panel_wrapper {
      padding: 0px 2.315vw 0px 1.505vw;
    }

    .panel_header {
      display: flex;
      padding: 1.389vw 2.546vw;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin: 0 0 0.984vw;

      .header_box {
        display: flex;
        padding: 0.694vw 0px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .create_wrap {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.463vw;
          flex: 1 0 0;

          .create_content {
            display: flex;
            padding: 0.347vw 0.926vw;
            justify-content: center;
            align-items: center;
            gap: 0.463vw;
            border-radius: 1px;
            background: #000;
            text-decoration: none;

            .plus_icon {
              width: 1.157vw;
              height: 1.157vw;
            }

            .create_text {
              color: #fff;
              text-align: center;
              font-family: Public Sans;
              font-size: 0.81vw;
              font-style: normal;
              font-weight: 700;
              line-height: 1.389vw;
              margin-bottom: 0px;
              text-decoration: none;
            }
          }
        }
      }
    }

    .inventory_box {
      border-left: 1px solid rgba(99, 115, 129, 0.24);
      padding-left: 1.273vw;

      &.inventory_history_box {
        padding: 0;

        .inventory_content_box {
          padding: 1.389vw 0 1.389vw 0.579vw;

          .inventory_table_wrap {
            padding: 1.389vw 0.289vw;
            width: 80.266vw;

            .inventory_table {
              .thead {
                .th {
                  &.one {
                    border-radius: 0;
                    width: 4.63vw;
                    white-space: nowrap;
                  }
                  &.two {
                    width: 6.944vw;
                  }
                  &.three {
                    width: 14.468vw;
                  }
                  &.four {
                    width: 5.787vw;
                  }
                  &.five {
                    width: 4.63vw;
                  }
                  &.six {
                    width: 9.838vw;
                  }
                  &.seven {
                    width: 17.361vw;
                  }
                  &.eight {
                    width: 5.787vw;
                  }
                  &.nine {
                    width: 9.317vw;
                  }
                }
              }

              .tbody {
                .tbody_row {
                  .td {
                    &.one {
                      border-radius: 0;
                      width: 4.63vw;
                    }
                    &.two {
                      width: 6.944vw;
                    }
                    &.three {
                      width: 14.468vw;
                    }
                    &.four {
                      width: 5.787vw;
                    }
                    &.five {
                      width: 4.63vw;
                    }
                    &.six {
                      width: 9.838vw;
                    }
                    &.seven {
                      width: 17.361vw;
                    }
                    &.eight {
                      width: 5.787vw;
                    }
                    &.nine {
                      width: 9.317vw;
                    }

                    .product_details_box {
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-start;
                      align-items: flex-start;
                      gap: 1px;
                      color: #212B36;
                      font-size: 0.694vw;
                      line-height: 1.389vw;
                    }

                    .arrow_indicator {
                      display: flex;
                      gap: 0.289vw;
                      align-items: center;
                      justify-content: center;

                      img {
                        height: 0.926vw;
                        width: 0.926vw;
                      }

                      .icon_text {
                        color: #FF5630;
                        &.green_text {
                          color: #36B37E;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .inventory_head {
        color: #212B36;
        font-size: 1.389vw;
        font-weight: 700;
        line-height: 2.083vw;
        margin: 0 0 1.389vw;
      }

      .inventory_content_box {
        padding: 1.389vw 0.289vw 1.389vw 0.694vw;

        .history_btn {
          padding: 0.637vw 1.273vw;
          border-radius: 0.463vw;
          border: 1px solid #36F;
          background: #454F5B;
          color: #FFF;
          font-size: 0.868vw;
          font-weight: 700;
          line-height: 1.505vw;
          text-decoration: none;
          display: flex;
          width: fit-content;
          margin: 0 0 1.389vw;
        }

        .search_box {
          max-width: initial;
          margin: 0 0 1.389vw;
        }

        .inventory_table_wrap {
          padding: 1.389vw;
          border-radius: 0.926vw;
          background: #FFF;
          box-shadow: 0px 0.694vw 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);

          .inventory_table {
            width: 100%;

            .thead {
              display: flex;
              align-items: stretch;
              gap: 0.116vw;

              .th {
                padding: 0.463vw;
                background: #637381;
                border-right: 0.116vw solid white;
                color: #FFF;
                font-size: 0.810vw;
                font-weight: 400;
                line-height: 1.273vw;
                text-align: center;
                height: 3.241vw;
                display: flex;
                align-items: center;
                justify-content: center;

                &.one {
                  border-radius: 0.694vw 0px 0px 0px;
                  width: 4.63vw;
                }
                &.two {
                  width: 6.944vw;
                }
                &.three {
                  width: 11.632vw;
                }
                &.four {
                  width: 5.787vw;
                }
                &.five {
                  width: 5.787vw;
                }
                &.six {
                  width: 6.366vw;
                }
                &.seven {
                  width: 8.681vw;
                }
                &.eight {
                  width: 8.681vw;
                }
                &.nine {
                  width: 6.655vw;
                }
                &.ten {
                  width: 9.259vw;
                  border-radius: 0px 0.694vw 0px 0px;

                  .inv_qty_th {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2px;

                    svg {
                      height: 1.042vw;
                      width: 1.042vw;
                    }
                  }
                }
              }
            }

            .tbody {
              .tbody_row {
                display: flex;
                align-items: stretch;
                gap: 0.116vw;

                .td {
                  border-radius: 0.231vw;
                  background: #FFF;
                  box-shadow: 0px 0.694vw 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
                  padding: 0.579vw;
                  color: #212B36;
                  font-size: 0.694vw;
                  font-weight: 600;
                  line-height: 1.389vw;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &.one {
                    width: 4.63vw;
                  }
                  &.two {
                    width: 6.944vw;
                    
                    .product_img {
                      width: 100%;
                      height: 4.051vw;
                      border-radius: 0.174vw;
                      position: relative;

                      img {
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                        object-fit: cover;
                      }

                      .zoom_img {
                        position: absolute;
                        display: flex;
                        top: 0;
                        right: 0;
                        height: 1.389vw;
                        width: 1.389vw;
                        align-items: center;
                        justify-content: center;
                        background: rgba(255, 255, 255, 0.7);
                        border-radius: 0 0 0 0.174vw;
                      }
                    }
                  }
                  &.three {
                    width: 11.632vw;
                  }
                  &.four {
                    width: 5.787vw;
                  }
                  &.five {
                    width: 5.787vw;
                  }
                  &.six {
                    width: 6.366vw;
                  }
                  &.seven {
                    width: 8.681vw;
                  }
                  &.eight {
                    width: 8.681vw;
                  }
                  &.nine {
                    width: 6.655vw;
                  }
                  &.ten {
                    width: 9.259vw;
                  }
                  .badgee {
                    display: flex;
                    padding: 2px 8px;
                    align-items: center;
                    gap: 6px;
                    border-radius: 6px;
                    
                    &.out_of_stock {
                      background: rgba(255, 86, 48, 0.16);
                      color: #B71D18;
                    }
                    &.in_stock {
                      background: rgba(54, 179, 126, 0.16);
                      color: #1B806A;
                    }
                    &.low_stock {
                      background: rgba(255, 171, 0, 0.16);
                      color: #B76E00;
                    }
                  }
                  .aisle_box {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    gap: 0.289vw;

                    .asle_no {
                      flex: 1;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      color: #212B36;
                      font-size: 1.157vw;
                      font-weight: 600;
                      line-height: 1.389vw;
                    }

                    .aisle_icon {
                      background: rgba(145, 158, 171, 0.12);
                      padding: 1.157vw 0.289vw;

                      img {
                        height: 1.389vw;
                        width: 1.389vw;
                      }
                    }
                  }
                }
              }
            }
          }

          // btn css here
          .outline_btn {
            border-radius: 8px;
            border: 1px solid var(--components-button-outlined, rgba(145, 158, 171, 0.32));
          }

          .green_btn {
            border-radius: 8px;
            background: var(--success-main, #36B37E);
            border: none;
          }
        }

        .pages_content {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 1.389vw;
          background: #FFF;
          border-radius: 0px 0px 0.926vw 0.926vw;
          color: #212B36;
          font-size: 0.810vw;
          font-weight: 400;
          line-height: 1.273vw;
          padding: 0.579vw;
          border-top: 1px solid rgba(145, 158, 171, 0.24);
          
          .icon {
            width: 1.389vw;
            height: 1.389vw;
          }
        }
      }
    }
  }
}

.edit_invntry_qty_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;

  &.show_popup {
    display: block;
  }

  .popup_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .edit_pop_wrap {
      width: 42.593vw;
      padding: 1.389vw;
      border-radius: 0.926vw;
      background: #FFF;
      box-shadow: 0px 0.694vw 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
      position: relative;

      &.small_pop {
        width: 370px;
      }

      .cross_icon {
        position: absolute;
        right: -8px;
        top: -8px;
        cursor: pointer;
      }

      .edit_head {
        padding: 1.389vw;
        background: rgba(145, 158, 171, 0.12);
        margin-bottom: 1.389vw;
        color: #212B36;
        text-align: center;
        font-size: 1.157vw;
        font-weight: 700;
        line-height: 1.736vw;
      }
      .current_qty {
        padding: 0.637vw 1.273vw;
        border-radius: 0.463vw;
        border: 1px solid #36F;
        background: #454F5B;
        color: #FFF;
        font-size: 0.868vw;
        font-weight: 700;
        line-height: 1.505vw;
        text-align: center;
        margin-bottom: 1.389vw;
        cursor: pointer;

        &.green_box {
          border: 1px solid #36B37E;
          background: #00AB55;
        }

        &.orange_box {
          border: 1px solid #FF5630;
          background: #FF5630;
        }
      }

      .increase_box, 
      .decrease_box {
        width: 100%;
        display: none;
      }

      .input_group {
        padding: 0 0.81vw;
        position: relative;
        border-radius: 0.463vw;
        border: 1px solid rgba(145, 158, 171, 0.32);
        margin-bottom: 1.389vw;
        height: 3.241vw;

        label {
          position: absolute;
          top: -0.347vw;
          background: white;
          padding: 0px 0.231vw;
          color: #919EAB;
          font-size: 0.694vw;
          font-weight: 400;
          line-height: 0.694vw;
        }
        input {
          width: 100%;
          padding: 0;
          border: none;
          height: 100%;

          &:focus {
            outline: none;
          }
        }
      }

      .inventory_edit_btn {
        border-radius: 8px;
        background: var(--primary-main, #00AB55);
        padding: 6px 0.926vw;
        color: var(--primary-contrast-text, #FFF);
        text-align: center;
        font-family: Public Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
      }
    }

    .new_qty_wrap {
      display: none;
      border-radius: 0.926vw;
      background: #FFF;
      box-shadow: 0px 0.694vw 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
      width: 26.042vw;

      .head {
        padding: 1.389vw;
        display: flex;
        justify-content: center;
        color: #212B36;
        font-size: 1.157vw;
        font-weight: 700;
        line-height: 1.736vw;
        border-bottom: 1px solid #919EAB3D;
      }

      .btn_group {
        padding: 1.389vw;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.694vw;

        .bg-success {
          display: flex;
          padding: 0.347vw 0.926vw;
          justify-content: center;
          align-items: center;
          border-radius: 0.463vw;
          background: #36B37E;
          font-size: 0.810vw;
          font-weight: 700;
          line-height: 1.389vw
        }

        .outline_btn {
          display: flex;
          padding: 0.347vw 0.926vw;
          justify-content: center;
          align-items: center;
          border-radius: 0.463vw;
          border: 1px solid rgba(145, 158, 171, 0.32);
          background: transparent;
          font-size: 0.810vw;
          font-weight: 700;
          line-height: 1.389vw;
          color: #212B36;
        }
      }
    }
  }
}

// user dashboard create manual order css here

//** common css **//

.manual_order_header {
  padding: 1.389vw 7.060vw;
  background: #ffffff;
  box-shadow: 0px 0.694vw 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
  margin-bottom: 0.926vw;

  .back_btn_wrap {
    display: flex;
    padding: 0.231vw 0.579vw;
    justify-content: center;
    align-items: center;
    gap: 0.463vw;
    border-radius: 0.463vw;
    background: #DFE3E8;
    color: #212B36;
    font-size: 0.810vw;
    font-weight: 600;
    line-height: 1.273vw;
    border: none;
    margin-bottom: 0.926vw;

    svg {
      height: 1.042vw;
      width: 1.042vw;
    }
  }
  .header_text {
    color: #637381;
    font-size: 0.926vw;
    font-weight: 400;
    line-height: 1.389vw;
  }
}

//** common css **//

.manual_order_wrapper {
  width: 100%;

  .manual_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.389vw;
    padding: 0px 122px;

    .new_product_section {
      display: flex;
      padding: 1.389vw 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      background: #FFF;

      .icon_wrap {

      }
      .new_product_btn {
        width: 554px;
        display: flex;
        padding: 11px 22px;
        justify-content: center;
        align-items: center;
        gap: 0.463vw;
        border-radius: 0.463vw;
        background: var(--grey-600, #637381);

        .new_text {
          color: var(--text-dark-primary, #FFF);
          font-family: Public Sans;
          font-size: 0.810vw;
          font-weight: 400;
          line-height: 22px;
        }
      }

    }
    .product_list_section {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .content_container {
        display: flex;
        padding: 0px 8px;
        gap: 0.752vw;
        justify-content: space-between;

        .left_wrap {
          display: flex;
          flex: 1;
          border-radius: 8px;
          border: 3px solid var(--grey-200, #F4F6F8);


          .left_content {
            width: 33.33%;
            display: flex;
            flex-direction: column;
            gap: 4px;

            .left_head {
              padding: 0.694vw 8px;
              text-align: center;
              color: var(--text-light-secondary, #637381);
              text-align: center;
              font-family: Public Sans;
              font-size: 0.810vw;
              font-weight: 600;
              line-height: 1.389vw;
              background: var(--grey-100, #F9FAFB);
            }

            .content_img {
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 8px;

              img {
                width: 180px;
                height: 180px;
              }

              .btn_wrap {
                display: flex;
                justify-content: space-between;
                gap: 1.157vw;

                .outline_btn {
                  border-radius: 8px;
                  border: 1px solid var(--components-input-outlined, rgba(145, 158, 171, 0.32));
                  color: var(--text-light-primary, #212B36);
                  text-align: center;
                  font-family: Public Sans;
                  font-size: 0.694vw;
                  font-weight: 400;
                  line-height: 1.389vw;
                  padding: 0.579vw 30px;
                  background: white;
                }
                .plus_minus_wrap {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  gap: 4px;

                  .icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex: 1 0 0;
                    align-self: stretch;
                    border-radius: 6px 0px 0px 6px;
                    background: rgba(145, 158, 171, 0.20);
                    padding: 0px 6px;
                    font-size: 26px;

                    &.right_radius {
                      border-top-right-radius: 6px;
                      border-bottom-right-radius: 6px;
                      font-size: 1.389vw;
                      border-top-left-radius: 0px;
                      border-bottom-left-radius: 0px;
                    }
                  }
                }

              }
              .delete_icon {
                padding: 4px;
                border-radius: 8px;
                border: 1px solid var(--components-input-outlined, rgba(145, 158, 171, 0.32));
              }

              &.shadow_box {
                margin: 8px;
                border-radius: 4px;
                background: #FFF;
                box-shadow: 0px 0.694vw 1.389vw -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
              }

              &.processing_img {
                height: 100%;
                justify-content: start;
                padding-top: 45px;

                .process_text {
                  color: var(--text-light-secondary, #637381);
                  text-align: center;
                  font-size: 0.694vw;
                  font-weight: 400;
                  line-height: 1.389vw;
                  gap: 8px;
                  display: flex;
                  flex-direction: column;
                  padding: 0px 62px;
                }
              }

              &.upload_png {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 7px;
                height: 100%;
                justify-content: flex-start;

                .upload_icon {  
                  width: 64px;
                  height: 64px;
                }

                .text_png {
                  color: var(--text-light-primary, #212B36);
                  font-size: 0.752vw;
                  font-weight: 400;
                  line-height: 1.389vw;

                  &.upload_txt {
                    color: #637381;
                    font-size: 0.694vw;
                  }

                }
                  a {
                    color: var(--primary-main, #00AB55);
                    font-size: 0.810vw;
                    font-weight: 400;
                    line-height: 22px;
                    text-decoration-line: underline;
                  }
              }

            }
          }
        }

        .right_wrap {
          display: flex;
          padding: 102px 8px;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          gap: 0.579vw;
          align-self: stretch;
          border-radius: 8px;
          border: 3px solid var(--grey-200, #F4F6F8);
          background: var(--grey-100, #F9FAFB);
        }
      }
    }
  }

  .upload_file_wrap {
    padding: 5px 0px;

    .upload_section {
      display: flex;
      padding: 1.389vw;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.694vw;
      background: var(--background-light-paper, #FFF);
      border-radius: 0.926vw;
      box-shadow: 0px 0.694vw 1.389vw -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

      .upload_header {
        display: flex;
        align-items: center;
        gap: 47px;

        .header_item {
          display: flex;
          height: 56px;
          justify-content: center;
          align-items: center;
          padding: 0.926vw 23px;
          background: var(--background-light-neutral, #F4F6F8);
          color: var(--text-light-secondary, #637381);
          font-family: Public Sans;
          font-size: 0.694vw;
          font-weight: 600;
          line-height: 1.389vw;
        }
      }
      .upload_body {
        display: flex;
        align-items: center;
        gap: 47px;

        .body_items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.579vw 32px;
          background: #FFF;
          box-shadow: 0px 1px 2px 0px rgba(145, 158, 171, 0.16);

          .body_icon {
            width: 1.389vw;
            height: 1.389vw;
          }

          .body_text {
            color: var(--text-light-disabled, #919EAB);
            font-family: Public Sans;
            font-size: 0.694vw;
            font-weight: 400;
            line-height: 1.389vw;
          }
        }
      }
    }
  }

  .additional_comments_wrap {
    .leave_any {
      position: relative;
      padding: 1.389vw;
      border-radius: 0.926vw;
      background: var(--background-light-paper, #FFF);
      box-shadow: 0px 0.694vw 1.389vw -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
      margin-top: 0.694vw;

      input {
        border-radius: 8px;
        border: 1px solid var(--components-input-outlined, rgba(145, 158, 171, 0.32));
        padding: 0.926vw 0.810vw;
        color: var(--text-light-primary, #212B36);
        font-family: Public Sans;
        font-size: 0.926vw;
        font-weight: 400;
        line-height: 1.389vw;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      label {
        position: absolute;
        top: 1.157vw;
        left: 38px;
        background: white;
        padding: 0px 4px;
        color: var(--text-light-disabled, #919EAB);
        font-family: Public Sans;
        font-size: 0.694vw;
        font-weight: 400;
        line-height: 0.694vw;
      }
    } 
  }

  .btn_wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 44px;

    .btn_wrap {
      display: flex;
      padding: 11px 22px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--primary-light, #5BE584);
      color: var(--info-contrast-text, #FFF);
      font-size: 0.810vw;
      font-weight: 400;
      line-height: 22px;
      border: none;

      &.dark_green {
        background: var(--primary-main, #00AB55);
      }

      &.light_green {
        background: var(--primary-lighter, #C8FACD);
        color: var(--grey-800, #212B36);
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
      }
    }
  }

  .shipping_pop_wrap {
    display: inline-flex;
    width: 66.84vw;
    flex-direction: column;
    gap: 2.199vw;
    background: #FFF;

    .shiping_form {
      display: flex;
      width: 66.782vw;
      padding: 2.546vw 7.176vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.141vw;
      border-radius: 0.926vw;
      background: var(--background-light-paper, #FFF);
      box-shadow: 0px 0.694vw 1.389vw -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

      .ship_head {
        display: flex;
        width: 38.426vw;
        height: 3.299vw;
        justify-content: center;
        align-items: center;
        background: var(--background-light-neutral, #F4F6F8);
        color: var(--text-light-primary, #212B36);
        font-size: 0.694vw;
        font-weight: 600;
        line-height: 1.389vw;
      }
      .input_group {
        display: flex;
        align-items: flex-start;
        gap: 0.926vw;
      }
      .input_field {
        width: 18.750vw;
        padding: 0.926vw 0.810vw;
        overflow: hidden;
        color: var(--text-light-disabled, #919EAB);
        font-size: 0.926vw;
        font-weight: 400;
        line-height: 1.389vw;
        border-radius: 0.463vw;
        border: 0.058vw solid var(--components-input-outlined, rgba(145, 158, 171, 0.32));
        background: inherit;
        &.big_size {
          width: 38.426vw;
        }

        &:focus {
          outline: none;
        }
      }

      .calulate_btn {
        color: var(--info-contrast-text, #FFF);
        font-size: 0.926vw;
        font-weight: 600;
        line-height: 1.389vw; /* 150% */
        display: flex;
        padding: 0.637vw 1.273vw;
        justify-content: center;
        align-items: center;
        gap: 0.463vw;
        flex: 1 0 0;
        border-radius: 0.463vw;
        background: var(--common-black, #000);
        width: 38.426vw;
        border: none;

        .icon {
          width: 1.389vw;
          height: 1.389vw;
        }
      }
    }
  }
}

.select_pop_wrap {
  display: inline-flex;
  flex-direction: column;
  gap: 0.694vw;
  width: 60.012vw;
  border-radius: 0.926vw;
  background: #FFF;
  box-shadow: -40px 40px 80px -8px rgba(0, 0, 0, 0.24);

  .select_head {
    display: flex;
    padding: 0px 1.389vw;
    justify-content: space-between;
    gap: 0.579vw;
    color: var(--text-light-primary, #212B36);
    text-align: center;
    font-size: 1.157vw;
    font-weight: 700;
    line-height: 1.736vw;
    border-bottom: 1px solid var(--grey-400, #C4CDD5);
    background: rgba(145, 158, 171, 0.12);
    align-items: center;
    border-top-right-radius: 0.926vw;
    border-top-left-radius: 0.926vw;

    .close_icon {
      width: 1.389vw;
      height: 1.389vw;
    }
  }

  .select_content {
    display: flex;
    padding: 0px 1.389vw 0.463vw;
    flex-direction: column;
    justify-content: center;
    gap: 0.694vw;

    .content_head {
      color: var(--text-light-primary, #212B36);
      font-size: 0.810vw;
      font-weight: 600;
      line-height: 1.273vw;
    }

    .select_search_box {
      display: flex;
      padding: 0.926vw 0.810vw;
      align-items: center;
      gap: 0.463vw;
      border-radius: 0.463vw;
      border: 0.058vw solid var(--components-input-outlined, rgba(145, 158, 171, 0.32));

      .search_icon {
        width: 1.389vw;
        height: 1.389vw;
      }
      .search_input {
        color: var(--text-light-disabled, #919EAB);
        font-size: 0.926vw;
        font-weight: 400;
        line-height: 1.389vw;
        width: 100%;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }

    .product_name {
      display: flex;
      align-items: center;
      gap: 0.463vw;

      span {
        color: var(--text-light-primary, #212B36);
        font-size: 0.810vw;
        font-weight: 600;
        line-height: 1.273vw;
      }
    }

    .selected_flash {
      display: flex;
      padding: 1.042vw 1.042vw 1.042vw 1.157vw;
      align-items: center;
      gap: 0.926vw;
      justify-content: space-between;
      background: var(--success-lighter, #D8FBDE);
      color: var(--text-light-primary, #212B36);
      font-size: 0.926vw;
      font-weight: 600;
      line-height: 1.389vw;

      .selected_btn {
        display: flex;
        padding: 0.231vw 0.579vw;
        justify-content: center;
        align-items: center;
        gap: 0.463vw;
        border-radius: 0.463vw;
        background: var(--error-contrast-text, #FFF);
        color: var(--grey-800, #212B36);
        font-size: 0.752vw;
        font-weight: 700;
        line-height: 1.273vw;
        border: none;

        .add_icon {
          width: 1.389vw;
          height: 1.389vw;
        }
      }
    }

    .content_text {
      color: var(--common-black, #000);
      font-size: 1.389vw;
      font-weight: 700;
      line-height: 1.620vw;
    }

    .scroll_section {
      width: 57.234vw;
      height: 14.468vw;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .scroll_content {
        display: flex;
        padding: 0.694vw 0px;
        align-items: center;
        gap: 17.477vw;
        border-bottom: 0.058vw solid var(--grey-400, #C4CDD5);

        &.check_content {
          gap: 0px;
        }

        &.check_active {
          border-bottom: 0.058vw solid var(--grey-400, #C4CDD5);
          background: var(--action-light-hover, rgba(145, 158, 171, 0.08));
        }

        .image_text_wrap {
          display: flex;
          align-items: center;
          gap: 1.389vw;
          color: var(--text-light-primary, #212B36);
          font-size: 1.389vw;
          font-weight: 700;
          line-height: 1.620vw;
          width: 36.863vw;
          position: relative;

          .text_wrap {
            color: var(--text-light-primary, #212B36);
            font-size: 1.042vw;
            font-weight: 700;
            line-height: 1.620vw;

            .light_text {
              color: var(--text-light-secondary, #637381);
              font-size: 0.926vw;
              font-weight: 700;
              line-height: 1.389vw;
            }
          }

          .image_label {
            color: var(--text-dark-primary, #FFF);
            font-size: 0.463vw;
            font-weight: 700;
            line-height: 0.289vw;
            text-transform: uppercase;
            border-radius: 0px 0.347vw 0.347vw 0px;
            background: var(--error-main, #FF5630);
            padding: 0.116vw 0.463vw;
            position: absolute;
            top: 0;
          }

          .check_box {
            width: 1.389vw;
            height: 1.389vw;
            margin: 0.463vw;
          }

          .img_logo {
            width: 5.787vw;
            height: 5.787vw;
          }
        }
        .choose_btn {
          display: flex;
          padding: 0.637vw 1.273vw;
          justify-content: center;
          align-items: center;
          gap: 0.463vw;
          border-radius: 0.463vw;
          border: 0.058vw solid var(--secondary-darker, #091A7A);
          color: var(--secondary-darker, #091A7A);
          font-size: 0.868vw;
          font-weight: 700;
          line-height: 1.505vw;
          background: white;
          width: 5.208vw;
        }
      }
    }
    .back_to_btn_section {
      display: flex;
      width: 100%;
      justify-content: center;

      .back_to_btn {
        width: 13.847vw;
        display: flex;
        padding: 0.231vw 0.579vw;
        justify-content: center;
        align-items: center;
        gap: 0.463vw;
        border-radius: 0.463vw;
        background: var(--grey-300, #DFE3E8);
        border: none;

        .btn_text {
          color: var(--text-light-primary, #212B36);
          font-size: 0.810vw;
          font-weight: 600;
          line-height: 1.273vw;
        }
        .icon {
          width: 1.042vw;
          height: 1.042vw;
        }
      }
    }
  }
}




  // common header this css only for

.ship_from_wrap {
  display: flex;
  height: 56px;
  align-items: center;
  border-radius: 0.463vw;
  background: var(--grey-300, #DFE3E8);
  justify-content: space-between;
  padding: 0.463vw 1.389vw;

  .icon_wrap {
    display: flex;
    align-items: center;
    gap: 0.694vw;

    .icon_text {
      color: var(--text-light-primary, #212B36);
      font-family: Public Sans;
      font-size: 0.926vw;
      font-weight: 600;
      line-height: 1.389vw;
    }
  }
}


// user dashboard create manual order css end
