.producer_panel_wrapper {
  display: flex;
  padding: 0px 5.613vw 5.613vw 3.472vw;
  flex-direction: column;
  flex: 1;

  .total_wrapper {
    display: flex;
    gap: 1.389vw;
    margin: 0 0 1.389vw;

    .total_content {
      display: flex;
      padding: 1.389vw;
      flex-direction: column;
      border-radius: 0.926vw;
      background: #FFF;
      box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
      width: 24.653vw;

      .total_head {
        color: #212B36;
        font-size: 0.810vw;
        font-weight: 600;
        line-height: 1.273vw;
      }
      .total_text {
        color: #212B36;
        font-size: 1.852vw;
        font-weight: 700;
        line-height: 2.778vw;
      }
    }
  }

  .producer_payments {
    display: flex;
    flex-direction: column;
    border-radius: 0.926vw;
    background: #ffffff;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    margin: 0 0 1.389vw;

    .payment_head {
      display: flex;
      padding: 0.694vw 0.926vw 0.694vw 1.389vw;
      align-items: flex-start;
      gap: 0.926vw;
      align-self: stretch;
      border-radius: 0.926vw 0.926vw 0px 0px;
      background: rgba(145, 158, 171, 0.12);
      font-size: 1.042vw;
      line-height: 1.620vw;
      font-weight: 700;
    }
    .payment_body {
      display: flex;
      padding: 1.157vw 5.787vw;
      justify-content: center;
      align-items: center;
      gap: 7.176vw;

      .payment_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .items_head {
          color: #637381;
          text-align: center;
          font-size: 0.810vw;
          font-weight: 600;
          line-height: 1.273vw;
        }
        .items_text {
          text-align: center;
          font-size: 1.852vw;
          font-weight: 700;
          line-height: 2.778vw;
          background: var(--gradient-warning, linear-gradient(135deg, #FFD666 0%, #FFAB00 100%));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          &.green_text {
            background: var(--gradient-primary, linear-gradient(135deg, #5BE584 0%, #00AB55 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &.blue_text {
            background: var(--gradient-secondary, linear-gradient(135deg, #84A9FF 0%, #1939B7 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  .next_payment_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.926vw;
    background: #F4F6F8;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.12);
    margin: 0 0 1.389vw;
    padding-bottom: 1.389vw;


    .next_head { 
      padding: 0.694vw 0.926vw 0.694vw 1.389vw;
      border-radius: 0.926vw 0.926vw 0px 0px;
      background: rgba(145, 158, 171, 0.12);
      color: #212B36;
      font-size: 1.042vw;
      font-weight: 700;
      line-height: 1.620vw;
      width: 100%;
    }

    .next_content {
      display: flex;
      padding: 0px 1.389vw;
      flex-direction: column;
      gap: 1.215vw;
      width: 100%;
      align-items: center;

      .next_content_btn {
        padding: 0.637vw 1.273vw;
        border-radius: 0.463vw;
        background: #00AB55;
        border: none;
        color: #FFF;
        font-size: 0.868vw;
        font-weight: 700;
        line-height: 1.505vw;
        min-width: 17.13vw;
      }

      .content_head {
        color: #212B36;
        text-align: center;
        font-size: 1.852vw;
        font-weight: 700;
        line-height: 2.778vw;

        & sup {
          padding-right: 0.463vw;
          font-size: 1.157vw;
          font-weight: 700;
          line-height: 1.736vw;
        }
      }
    }
  }

  .history_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 23.148vw;
    margin: 0 auto;

    .history_head {
      width: 100%;
      padding: 0.694vw 0.926vw;
      border-radius: 0.926vw 0.926vw 0px 0px;
      background: rgba(145, 158, 171, 0.2);
      color: #212B36;
      font-size: 1.042vw;
      font-weight: 700;
      line-height: 1.620vw;
    }
    .history_table {
      background: #FFF;
      box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
      width: 100%;

      .th {
        padding: 0.694vw 1.042vw;
        background: #F4F6F8;
        color: #637381;
        font-size: 0.694vw;
        font-weight: 600;
        line-height: 1.389vw;
        text-align: center;
      }

      .td {
        padding: 0.694vw 1.042vw;
        text-align: center;
        color: #212B36;
        text-align: center;
        font-size: 0.810vw;
        font-weight: 400;
        line-height: 1.273vw;
        border-bottom: 2px solid whitesmoke;
      }
    }
    .pages_content {
      display: flex;
      padding: 0.579vw 0.463vw 0.579vw 1.389vw;
      justify-content: center;
      align-items: center;
      gap: 1.389vw;
      width: 100%;
      border-top: 1px solid rgba(145, 158, 171, 0.24);
      background: #ffffff;
      box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
      border-radius: 0px 0px 0.926vw 0.926vw;
      color: #212B36;
      text-align: right;
      font-size: 0.810vw;
      font-weight: 400;
      line-height: 1.273vw;

      .icon {
        width: 1.389vw;
        height: 1.389vw;
      }
    }

    .export_btn {
      border: none;
      padding: 0.579vw 1.157vw;
      margin-top: 1.389vw;
      border-radius: 0.463vw;
      background: #00B8D9;
      color: #FFF;
      text-align: center;
      font-size: 0.810vw;
      font-weight: 700;
      line-height: 1.389vw;
    }
  }

}




  // slider css here


.__range input
{
  outline: none;
  -webkit-appearance: none;
  height: 6px;
  width: 100%;
  margin: 10px auto;
}
.__range input::-webkit-slider-thumb
{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab; 
}            
.__range input::-moz-range-thumb
{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab; 
}
.__range input::-ms-thumb
{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab; 
}
.__range-step{
  position: relative;
  width: 17.361vw;
}

.__range-max{
  float: right;
}
.__range-step input::-webkit-slider-thumb
{
  background: transparent;
}            
.__range-step input::-moz-range-thumb
{
  background: transparent;
}
.__range-step input::-ms-thumb
{
  background: transparent;
}
.__range-step datalist {
  position:relative;
  display: flex;
  justify-content: space-between;
  height: auto;
  top: -16px;
  bottom: 16px;
  /* disable text selection */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */                
  user-select: none; /* Standard */
  /* disable click events */
  pointer-events:none;  
}
.__range-step datalist option {
  width: 6px;
  height: 6px;
  min-height: 6px;
  border-radius: 100px;
  /* hide text */
  white-space: nowrap;       
  padding:0;
  line-height: 40px;
}


 .__range-step-popup output 
{ 
  position: absolute;
  background-color: green;                
  width: 30px;
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 100px; 
  display: inline-block; 
  font-size:12px;
  bottom: 100%;
  left: 0;
  vertical-align: middle;
  line-height: 30px;
}
.__range-step-popup .__range-output-square{
  padding: 0 5px; 
  min-width: 25px;
  width: auto !important;                
  border-radius: 5px !important;
}
.__range-step-popup output:after 
{ 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid green;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 90%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
}
.__range-step-popup datalist{
  overflow:hidden;
}
.__range-step{
  margin: 0 2.315vw;
}
.__range-step-popup{
  margin: 2.315vw 2.315vw;
}


input[type="range"]::-webkit-slider-thumb {
  /* Increase the size and style as needed */
  width: 12px;
  height: 12px;
  background-color: #00AB55; /* Change the color as desired */
  border: 2px solid #00AB55; /* Add a border if needed */
  border-radius: 50%; /* Makes it round */
  cursor: pointer; /* Add a pointer cursor for usability */
  margin-top: -14px;
}



