.choose_shiping_wrapper {

  .manual_order_header {
    margin-top: 5.093vw;
  }

  .shiping_info_wrap {
      display: flex;
      justify-content: center;
      align-items: center;

    .shiping_head {
      display: flex;
    }

    .shiping_details_wrap {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 1.389vw;
      width: 86.227vw;

      .method_wrap {
        width: 49.653vw;

        .method_section {
          display: flex;
          padding: 1.389vw 2.778vw;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.463vw;
          border-radius: 0.463vw;
          background: #F9FAFB;
          margin-bottom: 0.926vw;

          .method_head {
            color: #212B36;
            font-size: 1.389vw;
            font-weight: 700;
            line-height: 1.389vw;
          }
          .method_flash {
            display: flex;
            padding: 0.579vw 0px;
            align-items: center;
            border-radius: 0.463vw;
            background: #FFD666;
            width: 44.097vw;
            color: #003768;
            font-size: 0.810vw;
            font-weight: 400;
            line-height: 1.273vw;

            .flash_icon {
              width: 1.389vw;
              height: 1.389vw;
              margin: 0px 0.694vw 0px 0.926vw;
            }
          }

          .method_list {
            display: flex;
            width: 44.097vw;
            height: 3.588vw;
            align-items: center;
            background: #F4F6F8;
            margin-bottom: 0.347vw;


            .list_item {
              width: 44.097vw;
              height: 3.588vw;
              color: #212B36;
              font-size: 0.694vw;
              font-weight: 600;
              line-height: 1.389vw;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .checkbox {
              margin: 0.463vw;
              width: 1.389vw;
              height: 1.389vw;
            }
          }
        }

        .selected_wrap {
          display: flex;
          width: 49.653vw;
          padding: 1.389vw 2.778vw;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.579vw;
          border-radius: 0.463vw;
          background: #F9FAFB;

          .selected_head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.521vw;
            align-self: stretch;

            .left_items {
              display: flex;
              gap: 0.347vw;
              align-items: center;

              .left_icon {
                width: 1.389vw;
                height: 1.389vw;
              }

              .left_text {
                color: #212B36;
                font-size: 1.389vw;
                font-weight: 700;
                line-height: 1.389vw;
              }
              .top_text {
                color: #637381;
                font-size: 0.810vw;
                font-weight: 400;
                line-height: 1.273vw;
              }
            }
            .edit_link {
              color: #36B37E;
              font-size: 0.926vw;
              font-weight: 400;
              line-height: 1.389vw;
              text-decoration: none;
            }
          }
          .info_left_section {
            width: 100%;
            height: 100%;
            padding: 0px;

            .left_sku {
              color: #212B36;
              font-size: 0.810vw;
              font-weight: 600;
              line-height: 1.273vw;
            }

            .left_head {
              color: #212B36;
              font-size: 1.042vw;
              font-weight: 700;
              line-height: 1.620vw;
            }

            .text_with_img_section {
              padding: 0.694vw 1.620vw 0.694vw 0.174vw;
            }
          }
        }
      }

      .customer_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.926vw;
        width: 35.185vw;

        .info_right_section {
          width: 100%;
          gap: 0.926vw;

          .buyer_info_section {

            .buyer_mail {
              height: auto;

              .buyer_edit {
                display: flex;
                justify-content: space-between;
                padding: 1.389vw 0px;

                .buyer_text {
                  padding: 0px;
                }
                .edit_link {
                  color: #36B37E;
                  font-size: 0.926vw;
                  font-weight: 400;
                  line-height: 1.389vw;
                  text-decoration: none;
                }
              }
            }
          }
          
          .billing_section {
            .billing_info {
              width: 100%;
              justify-content: space-between;
            }
          }     
        }

        .urgent_section {
          display: flex;
          gap: 0.463vw;
          align-items: center;
          padding-left: 0.347vw;

          input {
            width: 1.389vw;
            height: 1.389vw;
          }

          .urgent_text {
            color: #FF5630;
            font-size: 0.810vw;
            font-weight: 400;
            line-height: 1.273vw;
          }
        }

        .btn_wrap {
          display: flex;
          padding: 1.389vw 0px;
          justify-content: center;
          align-items: center;
          gap: 1.389vw;

          .later_btn {
            display: flex;
            padding: 1.14vw 1.273vw;
            justify-content: center;
            align-items: center;
            gap: 0.463vw;
            border-radius: 0.463vw;
            background: #C8FACD;
            width: 8.333vw;
            color: #212B36;
            font-size: 0.868vw;
            font-weight: 700;
            line-height: 0.868vw;
            border: none;
          }

          .submit_btn {
            width: 25.463vw;
            display: flex;
            padding: 0.637vw 1.273vw;
            justify-content: center;
            align-items: center;
            gap: 0.463vw;
            border-radius: 0.463vw;
            background: #00AB55;
            border: none;
            color: #FFF;
            font-size: 0.926vw;
            font-weight: 600;
            line-height: 1.389vw;

            .btn_icon {
              width: 1.389vw;
              height: 1.389vw;
            }
          }
        }
      }
    }
  }
}

//** admin inventories export css started **//

.inventory_export_wrap {
  flex: 1;
  margin-left: 4.514vw;

  .invenory_export_btn {
    display: flex;
    justify-content: center;

    button {
      display: flex;
      height: 3.241vw;
      padding: 0.463vw 0.926vw;
      align-items: center;
      gap: 0.463vw;
      border-radius: 0.463vw;
      background: #00B8D9;
      color: #FFF;
      font-size: 0.810vw;
      font-weight: 700;
      line-height: 1.389vw;
      border: none;
      width: 6.134vw;
      margin: 1.389vw 0px;
    }

    .download_icon {
      width: 1.157vw;
      height: 1.157vw;
    }
  }
  .export_list {
    width: 76.794vw;
    border-radius: 0.926vw;
    background: #FFF;
    box-shadow: 0px 0.694vw 1.389vw -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);

    .export_head {
      background: #F4F6F8;
      display: flex;
      width: 100%;
      padding: 0.694vw;
      border-top-right-radius: 0.926vw;
      border-top-left-radius: 0.926vw;

      &.white_bg {
        background: white;
        justify-content: space-between;
        border-bottom-right-radius: 0.926vw;
        border-bottom-left-radius: 0.926vw;

        .eye_icon {
          width: 1.157vw;
          height: 1.157vw;
          margin: 0.463vw;
        }
      }
      .export_item {
        width: 36.111vw;
        display: flex;
        align-items: center;
        color: #212B36;
        font-size: 0.694vw;
        font-weight: 600;
        line-height: 1.389vw;

        &.light_text {
          color: #637381;
          font-size: 0.810vw;
          font-weight: 400;
          line-height: 1.273vw;
        }
      }
    }
  }
}

//** admin inventories export css end **//



.order_success_pop_model {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  .order_success_pop_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .order_success_pop {
      width: 48.611vw;
      height: 35.764vw;
      padding: 7.176vw 3.588vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.984vw;
      border: 1.042vw solid #D6E4FF;
      background: #FFF;

      .pop_head {
        color: #212B36;
        font-size: 1.620vw;
        font-weight: 700;
        line-height: 2.778vw;
      }

      .pop_img {
        width: 18.519vw;
        height: 13.889vw;
      }

      .back_btn {
        display: flex;
        padding: 0.637vw 1.273vw;
        justify-content: center;
        align-items: center;
        gap: 0.463vw;
        border-radius: 0.463vw;
        background: #00AB55;
        width: 32.407vw;
        height: 2.778vw;
        border: none;
        color: #FFF;
        font-size: 0.868vw;
        font-weight: 700;
        line-height: 1.505vw;
        text-decoration: none;  

        .arrow_icon {
          width: 1.389vw;
          height: 1.389vw;
        }
      }
    }
  }
}
