<div class="edit_invntry_qty_popup">
  <div class="popup_wrapper">
    <div class="edit_pop_wrap">
      <div class="edit_head">Edit Inventory QTY: Product ID</div>
      <div class="current_qty">Current Quantity: 29</div>
      <div class="current_qty green_box" id="increase_qty">INCREASE QTY</div>
      <div class="increase_box">
        <div class="input_group">
          <label>Add Quantity</label>
          <input type="text" />
        </div>
        <div class="input_group">
          <label>Reason for Increase</label>
          <input type="text" />
        </div>
        <div class="input_group">
          <label>Tracking No</label>
          <input type="text" />
        </div>
        <div class="input_group">
          <label>Invoice No</label>
          <input type="text" />
        </div>
      </div>

      <div class="current_qty orange_box" id="decrease_qty">DECREASE QTY</div>
      <div class="decrease_box">
        <div class="input_group">
          <label>Decrease Quantity</label>
          <input type="text" />
        </div>
        <div class="input_group">
          <label>Reason for Decrease</label>
          <input type="text" />
        </div>
      </div>
      <div class="current_qty">New Quantity: 29</div>
      <div class="inventory_edit_btn">Submit</div>
    </div>

    <div class="new_qty_wrap">
      <div class="head">
        New Quantity: 29
      </div>
      <div class="btn_group">
        <div class="btn bg-success text-white">Confirm</div>
        <div class="btn outline_btn cancel_qty">Cancel</div>
      </div>
    </div>
  </div>
</div>