<div class="hero_wrapper">
  <div class="inventory_page_wrapper <%= current_user.type == "Designer" || current_user.type == "Admin" ? 'designer_orders' : '' %>">
    <%= render "shared/sidebar" %>

    <% if current_user.type == "Designer" || current_user.type == "Admin" %>
      <%= render "designer_index" %>
    <% else %>
      <%= render "producer_inventory" %>
    <% end %>
  </div>
</div>
<script>
  function changeRowsPerPage(value) {
    window.location.href = window.location.pathname + "?per_page=" + value;
  }
</script>
